- cache form do
  .col-6.col-lg-4.mb-3
    = link_to form_path(form) do
      .card.as_btn.h-100.justify-content-center.bg-lavander
        .card-body.justify-self-center
          = form.name.capitalize