.col-md-2.thumbnail
  .row
    .col-md-6
      =link_to admin_composition_path(composition) do
        =image_tag composition.img.url(:small), class: 'img-responsive'
    .col-md-6
      = composition.price.to_f.round(2) unless composition.price.blank?
      = link_to 'Удалить', admin_delete_composition_path(composition), method: :put
