.row.text-center
  .col-md-6
    %strong
      Название
  .col-md-2
    %strong
      Цена
  .col-md-3
    %strong
      Кол-во
  .col-md-1

- @comp.items.uniq.each do |item|
  -if item.price_with_helium.blank?
    .error
      Не указан цена с гелием!
  .row.item{data: {item_id: "#{item.id}"}}
    .col-md-7
      =link_to item.name.capitalize, admin_item_path(item)
    .col-md-2.text-center
      =item.price_with_helium
    .col-md-2.text-center
      = @comp.items.where(id: item.id).count
    .col-md-1
      = link_to admin_remove_item_path(item_id: item.id) do
        %i.fa.fa-times-circle{style: 'aria-hidden="true"'}
    .popover-img{style: 'display: none;'}
      = image_tag item.img.url(:small)

