.small-composition.card
  = link_to admin_composition_path(composition) do
    = image_tag composition.img(:preview)
  = link_to  admin_composition_path(composition), method: :delete, remote: true, class: 'destroy-button' do
    %i.fas.fa-times.text-danger
