.container
  .row
    .col-12
      %h2{data: {toggle: 'collapse', target: '#availible'}, style: 'cursor: pointer;'}
        Доступные композиции
        %br
        %small Доступные к покупке пользователям
      .collapse#availible
        .row
          = render @compositions

      - if @compositions_without_items.any?
        %h2{data: {toggle: 'collapse', target: '#without_items'}, style: 'cursor: pointer;'}
          Композиции без товаров
          %br
          .small Нет ни одного товара в композиции
        .collapse#without_items
          .row
            = render @compositions_without_items

      - if @compositions_without_tags.any?
        %h2{data: {toggle: 'collapse', target: '#without_tags'}, style: 'cursor: pointer;'}
          Композиции без тегов
          %br
          %smallНе указан "повод" или "кому"
        .collapse#without_tags
          .row
            = render @compositions_without_tags

      =link_to 'Добавить композицию', new_admin_composition_path, class: 'btn btn-info'
