.container.my-3
  - breadcrumb @person
  %h1.h2.text-center Оформление воздушными шарами #{@person.title.capitalize}
  .row.justify-content-around.card-deck.compositions
    = render partial: 'delivery/main/thumb_composition', collection: @compositions, as: :c
  .row.text-center
    = will_paginate @compositions
  .row.text-center
    %h4.col-12.mt-3
      Ничего не нашли? Давайте мы поможем!
    .col-lg-6.col-sm-12#help
      = button_tag 'Оставить заявку', class: 'btn btn-success btn-lg btn-block', data:{ toggle: 'modal', target: '#call-modal'}

