@media (max-width: 991px) {
  /* line 63, C:/Sites/Balloons/app/assets/stylesheets/variables.scss */
  html {
    font-size: 0.9rem;
  }
}
@media (max-width: 767px) {
  /* line 69, C:/Sites/Balloons/app/assets/stylesheets/variables.scss */
  html {
    font-size: 0.7rem;
  }
}
/* line 3, C:/Sites/Balloons/app/assets/stylesheets/mailer.scss */
.bg-brand {
  background-color: #68c4af;
  color: #ffffff;
}
/* line 6, C:/Sites/Balloons/app/assets/stylesheets/mailer.scss */
.bg-brand a {
  color: #ffffff;
}

/* line 11, C:/Sites/Balloons/app/assets/stylesheets/mailer.scss */
a {
  color: #68c4af;
}

/* line 15, C:/Sites/Balloons/app/assets/stylesheets/mailer.scss */
.text-center {
  text-align: center;
}

/* line 19, C:/Sites/Balloons/app/assets/stylesheets/mailer.scss */
.display-table {
  display: table;
  font-size: 16px;
}

/* line 24, C:/Sites/Balloons/app/assets/stylesheets/mailer.scss */
.display-cell {
  display: table-cell;
  vertical-align: top;
  padding: 20px;
}

/* line 30, C:/Sites/Balloons/app/assets/stylesheets/mailer.scss */
.unstyled {
  list-style-type: none;
  padding-left: 0;
}

/* line 35, C:/Sites/Balloons/app/assets/stylesheets/mailer.scss */
.border-bottom {
  border-bottom: 1px solid #68c4af;
}

/* line 39, C:/Sites/Balloons/app/assets/stylesheets/mailer.scss */
.btn {
  display: inline-block;
  padding: 6px;
  text-decoration: none;
  border-radius: 4px;
  font-size: 18px;
  vertical-align: bottom;
}
/* line 45, C:/Sites/Balloons/app/assets/stylesheets/mailer.scss */
.btn:hover {
  background-color: #F68294;
}
