%meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
%meta{:name => "viewport", :content => "width=device-width, initial-scale=1.0"}
%meta{name: "google-site-verification", content:"7YdqoinSILjL2WHYMwi8xu3uUDgshmVKYp6GKfoBavo"}
%meta{name: "yandex-verification", content: "55c1242f77b26454"}
%meta{name: "yandex-verification", content: "8898d5cb05bc2278"}
%meta{name: 'mysitecost.ru', content: 'addurl'}
