= javascript_include_tag 'https://use.fontawesome.com/releases/v5.8.1/js/all.js', async: true,
'data-turbolinks-track': 'reload', defer: true
- if controller.action_name == 'contacts'
  = javascript_include_tag 'https://api-maps.yandex.ru/2.1/?lang=ru_RU', async: true, 'data-turbolinks-track': 'reload'
