.container-fluid
  .row#contacts.my-4
    %h2.text-center{style: 'width: 100%;'}
      Контакты
    .col-12.p-0#map

.container
  .col-12.card
    %h3.mb-3 Шариковая фея™
    .card-block
      .lead
        %i.fa.fa-mobile
        + 7 (912) 453 25 98
        %br
        %i.fa.fa-map-marker
        ул. Николая Островского, 25,
        офис 6
      %p.mt-3
        ООО "ДЕЛИРИУМ"
        %br
        ИНН: 1832110279
        %br
        КПП: 183201001
        %br
        ОГРН: 1131832004831
:javascript
  window.onload =  function(){
    yandex_map();
  }
