.container-fluid.mt-5{itemscope: true, itemtype: "http://schema.org/LocalBusiness" }
  %h1.text-center
    Контакты
  .row#contacts
    %div{itemprop="logo" itemscope itemtype="https://schema.org/ImageObject"}
      = image_tag 'logo-round.png', itemprop: 'image', style: {display: none}

    .col-12.p-0#map.d-none.d-lg-block
      .map-block
        = image_tag 'map-block.png', class: 'img-fluid'
        #text-contacts
          %h3.text-white{itemprop: 'name'}
            Шариковая фея™
          %ul.list-unstyled
            %li.text-white.d-flex.align-items-center.my-1.border-bot.justify-content-between{itemprop: 'telephone'}
              %i.fa.fa-phone-square.fa-2x.pr-3
              %span
                +7 (3412) 234-084
            %li.text-white.d-flex.align-items-center.my-1.border-bot.justify-content-between{itemprop: 'address', itemscope: true, itemtype: 'http://schema.org/PostalAddress'}
              %meta{itemprop: 'addressCountry', content: 'RU'}
              %i.fa.fa-map-marker.fa-2x.pr-4
              .row
                .col-12.text-right{itemprop: 'addressRegion'}
                  Удмуртская республика
                .col-12.text-right{itemprop: 'addressLocality'}
                  г. Ижевск
                .col-12.text-right{itemprop: 'streetAddress'}
                  ул. Н.Островского, 25, офис 6
            %li.text-white.d-flex.align-items-center.my-1.border-bot.justify-content-between
              %i.fa.fa-envelope.fa-2x.pr-4
              .row
                .col-12{itemprop: 'email'}
                  info@bigairballoons.ru
            %li.text-white.d-flex.align-items-center.my-1.border-bot.justify-content-between
              %i.fa.fa-clock-o.fa-2x.pr-4
              %time{itemprop: 'openingHours', datetime: 'Mo-Su, 08:00-20:00'}
                с 8:00 до 22:00, без выходных

    #text-contacts.p-3.d-lg-none
      %h3.text-white
        Шариковая фея™
      %ul.list-unstyled
        %li.text-white.d-flex.align-items-center.my-1
          %i.fa.fa-phone-square.fa-2x.pr-3
          +7 950 171-81-09
        %li.text-white.d-flex.align-items-center.my-1
          %i.fa.fa-map-marker.fa-2x.pr-4
          ул. Н. Островского, 25, офис 6
        %li.text-white.d-flex.align-items-center.my-1
          %i.fa.fa-envelope.fa-2x.pr-4
          info@bigairballoons.ru
        %li.text-white.d-flex.align-items-center.my-1
          %i.fa.fa-clock-o.fa-2x.pr-4
          %small
            Заявки: с 8:00 до 22:00, без выходных
            %br
            Доставка: круглосуточно, без выходных
      .small
        .mt-3.text-white
          ООО "ДЕЛИРИУМ"
          ИНН 1832110279
          КПП 183201001
          ОГРН 1131832004831
:javascript
  window.onload =  function(){
    yandex_map();
  }
