.container-fluid.py-3.mt-3.bg-lavender
  .row.align-items-center.justify-content-around.text-center
    .col-12
      .text-white
        Ничего не нашли?
      .lead.text-white.my-3
        Бесплатно подберем уникальное оформление под ваш праздник!
    = button_tag 'Оставить заявку', class: 'btn btn-info col-10 col-lg-6 m-auto', data:{ toggle: 'modal', target: '#call-modal'}
    -#.row.text-center.text-white
    -#  #offer-icon
    -#    %i.fas.fa-thumbs-up.fa-3x.my-1
    -#    .h4
    -#      Проклеиваем все шары
    -#      .small
    -#        Гарантируем 3 дня полета или заменим брак!
    -#  #offer-icon
    -#    %i.fas.fa-car.fa-3x.my-1
    -#    .h4
    -#      Круглосуточная доставка
    -#      .small
    -#        Бесплатная доставка по #{t("cities.#{@city}.in")} от 1500 руб.
    -#  #offer-icon
    -#    %i.fas.fa-birthday-cake.fa-3x.my-1
    -#    .h4
    -#      Индивидуальный дизайн
    -#      .small
    -#        Подберем уникальное оформление под ваш праздник!