.h2
  Шариковая фея - это не только доставка воздушных шаров по Ижевску.
.text-justify
  %p
    В первую очередь мы специализируемся на комплексном оформлении вашего праздника! Вы можете заказать и 20, и 30 шариков с доставкой, но сделает ли это ваш праздник незабываемым?
  %p
    Конечно, воздушные шары сами по себе уже создают праздничную атмосферу, но действительно уникальным сделает ваше торжество только дизайнерское оформление шарами. Тем более всем нашим клиентам мы предлагаем эту услугу абсолютно бесплатно.
  %p
    .lead
      У нас вы всегда можете заказать уникальные шарики под ваш праздник:
    %ul
      %li Прозрачные метровые шары с конфетти
      %li Метровые шары с гирляндой тассел
      %li Прозрачные шары с конфетти
      %li Фигуры из шаров
      %li Фольгированные шары (звезды, круги, сердца, фигурные)
      %li Наборные гирлянды из букв
      %li Праздничную аттрибутику (тарелки, салфетки, флажки, стаканчики)
  %p
    В оформлении воздушными шарами существуют очень много нюансов, начиная от подбора цветов и заканчивая расстановкой на месте. Шариковая фея гаранитирует вам уникальное авторское оформление праздника и реализует любую ваше идею!
  %p
    У нас не самые низкие цены в городе, и мы это признаем. Но мы принципиально не работаем с некачественными материалами и по принципу «и так сойдет». Поэтому, если вам не важно, где, как и из чего сделаны шарики и какие воспоминания останутся у вас после праздника, то вам не стоит обращаться к Шариковой фее.
  %p
    Цены, указанные в прайсе, могут меняться, поэтому лучше уточнять их по телефону +7(912) 453-25-98
