.composition
  .card.h-100
    .card-image-top
      = link_to custom_url_path(c) do
        = image_tag c.img(:preview), class: 'img-fluid', alt: c.title
      .line
    .card-footer.bg-white
      .row.align-items-center.my-3#price
        .col-6.text-left.pr-0
          .row.align-items-center
            .small.font-weight-bold.col-5.pr-0.text-left
              Цена как
              %br
              на фото
            .h4.col-7.pr-0.pl-2.m-0
              = c.price.round(0)
              %i.fas.fa-ruble-sign
        .col-6.text-right
          = link_to 'Подробнее', custom_url_path(c), class: 'btn btn-info btn-block'
