.container
  %h2.text-center Оформление воздушными шарами на #{params[:tag_name].capitalize}
  .row.justify-content-around.card-deck.compositions
    = render partial: 'thumb_composition', collection: @compositions, as: :c
  .row.text-center
    = will_paginate @compositions

= render 'delivery/main/modal_composition'
