- breadcrumb :faq
.container.c-list
  %h1.h5.text-center
    %span
      Часто задаваемые вопросы
  .card.my-2
    .card-header.bg-info
      .lead.text-white
        Почему всем так нравятся шарики?
    %em.card-body.collapse.show
      Это тайна, окутанная мраком. Так уж повелось, что праздник без шаров - не праздник. Попробуйте заказать немного шаров, и вы поймете, почему они сразу поднимают настроение. Словами это не объяснить!
  .card.my-2
    .card-header.bg-info
      .lead.text-white
        Сколько летают шары с гелием?
    %em.card-body.collapse.show#faq1
      В среднем, шары с гелием без проклейки летают от 3 до 6 часов. Чтобы увеличить вермя полета шариков мы обрабатываем их специальным составом, в этом случае они пролетают от 3 дней. Мы даем гарантию:  если шары сдуются - мы заменим их в день обращения!
  .card.my-2
    .card-header.bg-info
      .lead.text-white
        У вас есть доставка?
    %em.card-body.collapse.show
      Конечно! Мы привезем воздушные шары в любую точку #{t "cities.#{@city}.to"} в любое время суток!
      Следует знать, что минимальная сумма заказа на доставку шариков - 600 рублей, а бесплатная доставка у нас от 1200 рублей! Кроме того, доставка производится в пределах часа, например с 13:00 до 14:00. Если же вам нужна доставка в точное время (например, в 14:00, не раньше и не позже), то смело прибавляйте к сумме заказа 200 рублей.
  .card.my-2
    .card-header.bg-info
      .lead.text-white
        Вы оформляете праздники воздушными шарами?
    %em.card-body.collapse.show
      Да, это то, что мы любим и умеем! И более того, услуга по оформлению гелиевыми шарами будет всегда бесплатной для всех наших клиентов!
  .card.my-2
    .card-header.bg-info
      .lead.text-white
        А шарики и гелий вредны для здоровья?
    %em.card-body.collapse.show
      Если использовать качественные и сертифицированные шары - то ни капельки! Максимум, что может случиться - шарик лопнет. Но кому то даже нравиться это делать, поэтому в любом случае на праздник нужно заказать воздушные шары!
      %br
      Что касается гелия, то он абсолютно безвреден для организма. Никоторые личности специально его вдыхают, чтобы развлечься. Да, мы тоже этим грешили :)
  .card.my-2
    .card-header.bg-info
      .lead.text-white
        Я заказывал(а) фольгированные шары, они летают, но немного сдулись. Мне их привезти к вам, чтобы снова надуть?
    %em.card-body.collapse.show
      Есть небольшой секрет, как вернуть фольгированные шарики, фигуры и цифры к жизни. Если они летают, значит в них есть еще гелий, поэтому везти и надувать снова совсем необязательно. Берете обычную коктейльную трубочку, находите на шаре клапан и поддуваете ртом. Вуаля, ваш фольгированный шарик как новый!
  .card.my-2
    .card-header.bg-info
      .lead.text-white
        Я хочу скидку!
    %em.card-body.collapse.show
      Мы рады :) Скидки мы делаем только постоянным клиентам и иногда запускаем интересные акционные предложения. Чтобы ничего не пропустить, подписывайтесь на наши странички в соц. сетях!
      %br
      Если вы ну ооочень хотите скидку, то вы можете приобрести карту постоянного клиента и всегда получать выгодные предложения!
  .card.my-2
    .card-header.bg-info
      .lead.text-white
        У меня же очень много шаров! Тоже не сделаете скидку?
    %em.card-body.collapse.show
      "Очень много шаров" каждый понимает по своему. Для нас много шаров - это больше 100 штук за раз. Если вам нужно больше 100 воздушных шаров - звоните, договоримся!
