- breadcrumb :garant
- cache do
  .container.mt-5
    %h1.my-5
      Условия обмена и возврата
    .lead.my-3
      Мы даем гарантию на проклееные латексные и фольгированные шары 48 часов с момента доставки. Если повреждение натупило не по вашей вине, вы можете бесплатно обменять или вернуть деньги за заказ, позвонив или написав нам удобным для вас способом.
    %p.strong
      Мы не несем гарантийные обязательства за возможные повреждения или потерю внешнего вида изделий из воздушных шаров в следующих случаях:
    %ol
      %li
        Латексных или фольгированных, наполненных воздухом, если с момента их надува прошло более 48 часов;
      %li
        Латексных шаров, наполненных гелием, но без обработки веществом «Hi-Float» для продления полёта;
      %li
        Латексных шаров, обработанных веществом «Hi-Float», но по истечении срока 48 часов;
      %li
        Фольгированных, наполненных гелием, если с момента их надува прошло более 72 часов;
      %li
        Если температура окружающей среды, в которой находится композиция из шаров ниже 0 °C или выше 25 °C.
      %li
        Если шары подвержены воздействию прямых солнечных лучей или незащищены от атмосферных осадков;
      %li
        Если они подвергаются воздействию потоков ветра более 5 м/с или иному механическому, термическому или химическому воздействию.
