
.container-fluid
  = render 'delivery/layouts/offer' unless cookies[:landing]
.container.my-3
  %h1.h2.text-center
    Оформление воздушными шарами в Ижевске
    %br
    %small.text-muted
      Популярные композиции
  .row.justify-content-around.card-deck.compositions.card-group
    = render partial: 'thumb_composition', collection: @compositions, as: :c
  .row.text-center
    %h4.col-12.mt-3
      Ничего не нашли? Давайте мы поможем!
    .col-lg-6.col-sm-12#help
      = button_tag 'Оставить заявку', class: 'btn btn-success btn-lg btn-block', data:{ toggle: 'modal', target: '#call-modal'}
= render 'delivery/main/modal_composition'

