.container
  .hidden-md-down
    = render 'delivery/layouts/offer'
  %h2.text-center
    Хиты продаж
    %br
    %small.text-muted
      Оформление воздушными шарами
  .row.justify-content-around.card-deck.compositions
    = render partial: 'thumb_composition', collection: @compositions, as: :c
  .row.text-center
    = will_paginate @compositions
= render 'delivery/main/modal_composition'

