#main-offer.container-fluid.text-center.justify-content-center
  %h1.col-12.display-4.text-white
    Доставка воздушных шаров и оформление праздников
    в
    = t "cities.#{@city}.where"
  %hr.bg-white.w-100
  .lead.mb-2.text-white
    Бесплатно подберем уникальное оформление под ваш праздник!
    = button_tag 'Оставить заявку', class: 'btn btn-block col-10 col-lg-6 mx-auto btn-secondary', data:{ toggle: 'modal', target: '#call-modal'}
-
