
.slider
.offer 
.bestsell
  %h2
    Лучшие композиции
  .item-list
    - @compositions.each do |c|
      .item
        = image_tag url(c.img)
        %span c.price
        = link_to 'Добавить в корзину', "", class: 'add-to-cart'