.container-fluid.p-0#main-screen
  = render 'delivery/layouts/offer'
.container.my-3
  %h2.font-weight-bold.text-white
    Популярные композиции
  .row.justify-content-around.card-deck.compositions.card-group
    = render partial: 'thumb_composition', collection: @compositions, as: :c
  .row.text-center
    %h4.col-12.mt-3
      Ничего не нашли? Посмотрите все композиции!
    .col-lg-6.col-sm-12#help
      = link_to 'Все композиции', compositions_path, class: 'btn btn-success btn-lg btn-block'
= render 'delivery/main/modal_composition'

