.container-fluid
  .container
    %h2.text-center Лучшие композиции
    .row
      - @compositions.each do |c|
        .col-md-4.col-sm-6.col-xs-12
          .thumbnail
            = link_to delivery_composition_path(c) do
              = image_tag c.img.url(:thumb), class: 'img-responsive', style: 'height: 100%; object-fit: contain;'
            %h3.text-center
              = c.price.to_f.round(2)
              %i.fa.fa-rub{style: 'aria-hidden="true"'}

            %p.text-center Добавьте композицию в корзину, чтобы изменить количество шаров
            %p.text-center
              = link_to 'Добавить в корзину', delivery_add_to_cart_path(composition_id: c.id), class: 'btn btn-info btn-block', method: :post
