$(document).on('ajaxStart', function(){
  $('#composition .modal-title').html('Загрузка...');
  $('#composition .modal-body').html('<div class="text-center h1"><i class="fa fa-spinner fa-pulse fa-3x fa-fw"></i></div>');
});
$(document).on('ajaxSuccess', function(){
  $('#composition .modal-title').html('Композиция №<%= @composition.id %> <br> <small class = "hidden-xs">Вы сможете изменить состав композиции и количество шаров просто добавив ее в корзину!</small');
  $('#composition .modal-body').html('<%= j( render @composition) %>');
});

