- breadcrumb :info
.container.mt-5
  %h1.text-uppercase.h3.mb-3
    Доставка воздушных шаров
  .strong.text-danger.mb-3
    Заказы, которые поступают с 21:00, будут доставляться только на следующий день.
    Заявки,оставленные на сайте после 20:00, будут обработаны операторами только с 9:00 следующего дня.

  %h2.h4.text-uppercase
    Условия самовывоза:
  %p.mt-3
    %ul
      %li
        Самовывозом можно забирать воздушные шары от любой суммы.
        Адреса и время работы офисов можете посмотреть в разделе #{link_to 'Контакты', contacts_path}.
      %li
        На самовывоз действует скидка 10%
      %li
        Заказы на самовывоз готовятся заранее только по предварительному звонку. В противном случае шары надуваются по факту Вашего прихода и процесс надувания занимает какое-то время (от 15 минут до 1 часа, в зависимости от объема заказа).
    .text-danger.lead.text-uppercase
      Внимание!
    %em.ml-3.strong
      Имейте в виду, в любой седан вмещается не больше 30 шариков с гелием; универсал, джип, кроссовер, хэтч бэк - до 50 шариков. По вместимости отдельных композиций с нашего сайта лучше заранее проконсультироваться с нашими операторами. Мы не можем дать гарантию на качество самостоятельной транспортировки шаров, поэтому, если в процессе транспортировки у Вас что-то лопнет, то мы не несем за это ответственности.
  %h2.h4.text-uppercase
    Условия доставки:
  %p.mt-3
    %ul
      %li
        Мы гарантируем бесплатную доставку воздушных шаров по Ижевску при заказе от 1000 рублей.
        Условия доставки за пределами Ижевска уточняйте у менеджера.
      %li
        Минимальная сумма заказа для доставки составляет 600 рублей. Заказы на меньшую сумму вы можете забрать у нас в офисе.
      %li
        Срочная доставка осуществляется в течение 3-х часов с момента заказа.
        .text-danger.d-inline
          Водитель может приехать в любую минуту этого интервала!
      %li
        Доставка после 23:00 - 450 руб.
      %li
        Доставка в рабочее время (с 8:00 до 23:00) осуществляется с интервалом в 1час.
        Например, с 9:00 до 10:00
      %li
        Доставка к точному времени(минута в минуту) - 450 руб.
  .text-danger.lead.text-uppercase
    Внимание!
  .lead
    В указанный Вами интервал времени необходимо находиться по указанному адресу для приема заказа. В случае Вашего отсутствия, водитель имеет право уехать и не дожидаться Вас, чтобы не опоздать на следующие заказы.
  %em
    Если доставка воздушных шаров не осуществлена из-за отсутствия получателя на месте, повторная доставка оплачивается дополнительно - 300 руб.
  %h2.h4.my-3.text-uppercase
    Оплата заказа:
  %p.mt-3
    Оплатить заказ вы можете любым удобным для вас способом:
    %ul
      %li
        Наличными курьеру
      %li
        Банковской картой Visa, MasterCard
      %li
        Переводом на расчетный счет
      %li
        По квитанции в банке
      %li
        Переводом на электронынй кошелек Qiwi, Яндекс.Деньги


