- breadcrumb :info
.container.c-list
  %h1.h5.text-center
    %span
      Условия доставки и способы оплаты
  %h2.h5.text-info
    %span
      Прием и обработка заказов
  %p
    Заявки на воздушные шары принимаются и обрабатываются ежедневно без выходных с 08:00 до 20:00. Заявки, оставленные  после 20:00, будут обработаны только после 08:00 следующего дня.
  %h2.h5.text-info
    %span
      Доставка
  %ul
    %li
      Мы гарантируем бесплатную доставку воздушных шаров в #{t("cities.#{@city}.where")} при заказе от 1500 рублей.
      Условия доставки за пределами города уточняйте у менеджера.
    %li
      Минимальная сумма заказа для доставки составляет 1000 рублей. Заказы на меньшую сумму вы можете забрать у нас в офисе.
    %li
      Срочная доставка осуществляется в течение 3-х часов с момента заказа.
      .text-danger.d-inline
        Водитель может приехать в любую минуту этого интервала!
    %li
      Доставка после 23:00 - 450 руб.
    %li
      Доставка в рабочее время (с 08:00 до 20:00) осуществляется с интервалом в 1 час.
      Например, с 9:00 до 10:00.
    %li
      Доставка к точному времени (минута в минуту) - 450 руб.
  .bd-callout-danger
    .text-danger.text-uppercase
      Внимание!
    В указанный Вами интервал времени необходимо находиться по указанному адресу для приема заказа. В случае Вашего отсутствия, водитель имеет право уехать и не дожидаться Вас, чтобы не опоздать на следующие заказы. Если доставка воздушных шаров не осуществлена из-за отсутствия получателя на месте, повторная доставка оплачивается дополнительно - 300 руб.
  %h2.h5.text-info
    %span
      Условия самовывоза
  %p
    %ul
      %li
        Самовывозом можно забирать воздушные шары от любой суммы.
        Адреса и время работы офисов можете посмотреть в разделе #{link_to 'Контакты', contacts_path, class: 'text-info'}.
      %li
        На самовывоз действует скидка 10%
      %li
        Заказы на самовывоз готовятся заранее только по предварительному звонку. В противном случае шары надуваются по факту Вашего прихода и процесс надувания занимает какое-то время (от 15 минут до 1 часа, в зависимости от объема заказа).
    .bd-callout-danger
      .text-danger.text-uppercase
        Внимание!
      %p
        Имейте в виду, в любой седан вмещается не больше 30 шариков с гелием; универсал, джип, кроссовер, хэтч бэк - до 50 шариков. По вместимости отдельных композиций с нашего сайта лучше заранее проконсультироваться с нашими операторами. Мы не можем дать гарантию на качество самостоятельной транспортировки шаров, поэтому, если в процессе транспортировки у Вас что-то лопнет, то мы не несем за это ответственности.

  %h2.h5.text-info
    %span
      Оплата
  %p
    Оплатить заказ вы можете любым удобным для вас способом:
    %ul
      %li
        Наличными курьеру
      %li
        Банковской картой Visa, MasterCard
      %li
        Переводом на расчетный счет
      %li
        По квитанции в банке
      %li
        Переводом на электронынй кошелек Qiwi, Яндекс.Деньги


