- breadcrumb :kg
.container
  %h1.h3.mt-3.text-center.font-weight-bold Оформление детского сада на выпускной воздушными шарами
  %hr
  %p.lead
    Компания «Шариковая фея» всегда рада организовать оформление воздушными шарами для детского сада. Выпускной, утренник или другое торжество в детском садике – это важное событие не только для воспитанников, но и для родителей и воспитателей. Для того чтобы праздник прошел весело и ярко необходимо позаботиться об оформлении.
  %p
    Отличным вариантом декора для зала являются воздушные шары. У каждого ребенка шары ассоциируются с праздником и весельем, поэтому без них никак нельзя обойтись. Яркие цвета, необычные фигуры, возможность запустить шарик в небо – всё это подарит заряд положительных эмоций и создаст неповторимую атмосферу.
  %h2.h3
    Оформление садика воздушными шарами от нашей компании
  %p
    Специалисты «Шариковой феи» учитывают все особенности помещения торжества и специфику детских праздников. Мы тщательно подходим к разработке дизайна украшений, учитываем метраж помещения, наличие места для крепления и организацию свободного пространства для проведения торжества. Благодаря небольшому весу изделий можно с легкостью создать композицию, которая будет крепиться к текстилю на сцене, шторам или потолку, без порчи имущества учреждения.
  %p
    Оформление от «Шариковой феи» – это многообразие цветовых решений и текстур, форм и размеров изделий. Наши композиции держат форму от трех дней и более, поэтому выбирая украшения от нашей компании, можно использовать их не на одном, а на череде детских праздников.
  %p.lead
    Гирлянды из шаров
  %p
    Одним из самых популярных видов украшений являются гирлянды и цепочки из шаров. Композиции, выполненные из одного цвета или с применением нескольких оттенков отлично подходят для любых помещений. Они не занимают много места, и в то же время, преображают зал, добавляя атмосферы праздника.
  %p.lead
    Тематическое оформление
  %p
    Отличным вариантом украшения является тематический дизайн. В зависимости от темы праздника мы создадим оригинальное оформление:
  %ul
    %li
      Весенняя тематика – композиции в форме деревьев, цветов, солнца, облаков.
    %li
      Путешествия – корабли, паровозы, пальмы.
    %li
      Школа – букварь, буквы, цифры, фигуры учеников.
  %p.lead
    На торжество в честь праздника, также можно заказать тематические украшения:
  %ul
    %li
      23 февраля.
    %li
      8 марта.
    %li
      Новый Год.
    %li
      День матери.

  %p.lead
    Герои любимых мультфильмов

  %p
    У каждого ребенка есть любимые герои мультфильмов и сказок. Украшения, выполненные в форме мульт-героев отлично подойдут для празднования дня рождения или утренника. Выбирайте подходящего персонажа – Лунтик, Смешарики, Тачки, Микки Маус. Вы гарантированно получите яркую фигурку, которая придется по нраву каждому малышу. Фигуры из шаров могут стать не только украшением, но и местом для фотографии. От такой фотозоны дети получат массу приятных впечатлений, а родители – памятные снимки веселых моментов ребенка.
  %p.lead
    Оформление воздушными шарами для входной группы
  %p
    Помимо использования шаров в качестве декора для зала, воздушные композиции могут украсить входные группы. Уличный вход в садик, украшенный шарами будет сразу бросаться в глаза, поэтому ни один из гостей мероприятия не сможет пройти мимо. Дизайн входной двери в группу ярко выделит ее среди других и создаст атмосферу праздника, которая продержится более трех дней, благодаря использованию высококачественных материалов и надежной сборке нашими мастерами.
  %h2.h3
    «Шариковая фея» – профессионалы в области оформления воздушными шарами
  %ul
    %li.lead
      Наша компания использует материалы высокого качества, без неприятного запаха, абсолютно безопасные для здоровья вашего малыша.
    %li.lead
      Мы создаем оригинальные конструкции, отталкиваясь от предпочтений и требований заказчика.
    %li.lead
      Бесплатно разрабатываем качественный дизайн независимо от размера бюджета клиента.
    %li.lead
      Выполняем оперативную и аккуратную доставку в любое время суток. При заказе от 1000 рублей осуществляем доставку бесплатно.
    %li.lead
      Гарантируем сохранность шаров более чем на три дня.
  .lead
    Чтобы заказать оформление воздушными шарами для детского сада, просто свяжитесь с нами по контактному номеру телефона, WhatsApp, Viber или Telegram.
