- breadcrumb :school
.container
  %h1.h2.mt-3.text-center Оформление выпускного в школе воздушными шарами
  %hr
  %p
    «Шариковая шея» всегда готова помочь вам решить вопросы по оформлению выпускного воздушными шарами. Наша компания индивидуально подходит к выполнению каждого заказа. Исходя из пожеланий и требований заказчика мы создаем оригинальный дизайн, который подарит массу приятных впечатлений и станет настоящим украшением для любого праздника.
  %p.lead
    Украшения воздушными шарами для выпускных вечеров
  %p
    Выпускной – один из главных вечеров в жизни каждого школьника. Изучение танцевальных движений, поиск и приобретение лучшего наряда, подготовка поздравления для педагогического состава – всё это является неотъемлемой частью выпускного бала. Для того чтобы разнообразить оформление, и создать оригинальные композиции для украшения зала, следует обратиться к профессионалам «Шариковой феи».
  %p
    Композиции из воздушных шаров станут отличным украшением не только выпускного, проведенного в помещении, но и праздника на открытом воздухе. Применение качественных материалов и профессиональная сборка избавят вас от переживаний за надежность композиции.
  %p.lead
    Выпускные в начальных классах
  %p
    Первым рубежом в жизни юных школьников является выпускной вечер в начальных классах. Для первого школьного бала отлично подходят композиции, выполненные из шаров. Традиционные гирлянды и цепочки, а также необычные фигуры. Поскольку, в силу возраста, ученикам еще близка тематика мультфильмов и сказок, можно создать оригинальный дизайн с персонажами любимых мультиков. Такие фигурки станут украшением зала, а также могут использоваться для проведения конкурсов, игр и организации фотосессии.
  %p.lead
    Выпускной из старшей школы
  %p
    Для того чтобы каждый выпускник запомнил свой последний школьный бал, его оформление должно быть безупречным. Специалисты «Шариковой феи» всегда готовы создать оригинальное оформление, которое оставит в памяти только положительные эмоции. Для школьных выпускных можно выбрать абсолютно любые форматы – как стационарные конструкции, так и воздушные фигуры, которые можно запустить в небо. Необычные сочетания цветов и текстур, огромные метровые шары, изделия, наполненные конфетти и другие варианты украшений станут ярким дополнением для последнего вечера учащихся школ.
  %p.lead
    Выпускные в колледже
  %p
    По окончании учреждений среднего профессионального образования, выпускной вечер можно украсить тематическими фигурами из шаров. В зависимости от направленности колледжа – медицинский, музыкальный, технический, мы создадим фигуру, точно отражающую профессию выпускников. Медицинская сестра, музыкальный педагог, электрики и сварщики – всё это под силу нашим профессионалам. Такие фигуры станут не только украшением, но и интерактивным объектом, который порадует каждого выпускника.
  %h2
    Почему именно мы
  %ul
    %li
      .lead
        Предлагаем бесплатную разработку концепции дизайна
      %p
        Независимо от размера бюджета, тематики праздника и других особенностей оформления мы выполняем работы по созданию концепции украшений абсолютно бесплатно.
    %li
      .lead
        Применяем нестандартные решения
      %p
        Мы отказались от традиционных методов и форм. Индивидуально подходим к каждому заказу и предлагаем новаторские решения в области дизайна воздушными шарами.
    %li
      .lead
        Используем только высококачественные материалы
      %p
        Мы сотрудничаем с надежными поставщиками продукции. Поэтому смело гарантируем, что наша конструкция будет держать первоначальную форму как минимум на протяжении трех дней.
    %li
      .lead
        Выполняем заказы в любое время суток
      %p
      Чтобы заказать наши услуги, свяжитесь с нами в рабочие часы. Выполнение оформления возможно абсолютно в любое время дня и ночи. Украшение зала ранним утром или поздней ночью для нас не проблема.
    %li
      .lead
        Оперативная и аккуратная доставка
      %p
        Наличие собственных автомобилей и курьеров гарантирует выполнение доставки точно в оговоренные часы. При заказе на сумму от 1000 рублей доставляем заказы бесплатно.
  %strong
    Чтобы заказать оформление выпускного вечера воздушными шарами, просто свяжитесь с нами по номеру телефона 8 (912) 453-25-98 или через WhatsApp, Viber или Telegram.
