.container
  .row
    .order-info.col-md-10.col-xs-10
      - @order.positions.each do |position|
        .row
          .col-md-5.col-xs-12
            = image_tag position.composition.img(:thumb), class: 'img-responsive'
          .col-md-7.col-xs-12
            - position.subpositions.each do |s|
              .row
                .col-md-4.col-xs-5
                  = image_tag s.item.img(:small), class: 'img-responsive'
                .col-md-8.col-xs-7
                  %strong
                    = s.item.name
                  = s.quantity
                  шт.
