- breadcrumb :products
.container.c-list
  %h1.h5.text-center
    %span
      Гелиевые шары с доставкой в Ижевске
  .text-center
    Подберите себе шарики на любой праздник!
  .row.my-5.align-items-center
    .col-12.col-lg-4.my-2.align-items-center
      = link_to colors_path, class: 'btn btn-outline-secondary btn-block' do
        .row.align-items-center.justify-content-around
          %i.fas.fa-palette.fa-3x
          Шары по цветам

    .col-12.col-lg-4.my-2
      = link_to forms_path, class: 'btn btn-outline-secondary btn-block' do
        .row.align-items-center.justify-content-around
          %i.far.fa-star.fa-3x
          Шары по форме

    .col-12.col-lg-4.my-2
      = link_to categories_path, class: 'btn btn-outline-secondary btn-block' do
        .row.align-items-center.justify-content-around
          %i.fas.fa-horse.fa-3x
          Шары по категориям
    .col-12.my-2.text-center
      = link_to 'Готовые композиции', tags_path, class: 'btn btn-outline-info'

