- breadcrumb :products
.container-fluid.c-list
  %h1.h5.text-center
    %span
      Гелиевые шары с доставкой
  .row.my-3
    .col-12.col-lg-4
      %i.fas.fa-check.fa-lg.text-success
      Бесплатная доставка от 1500 руб.
    .col-12.col-lg-4
      %i.fas.fa-check.fa-lg.text-success
      Гарантия на все шары 3 дня
    .col-12.col-lg-4
      %i.fas.fa-check.fa-lg.text-success
      Только качественная продукция
    .col-4
  .row
    .col-12.my-3
      .input-group
        = text_field_tag :search,'', class: 'form-control', placeholder: 'Поиск по категориям'
        %span.input-group-append
          = button_tag(class: 'btn btn-info', id: 'clear-search', title: 'Очистить', data: {toggle: 'tooltip'}) do
            %i.fa.fa-times
  %h2.h6.text-center
    %span Цвета
  .row
    = render partial: 'delivery/colors/color', collection:  @colors, cached: true
  %h2.h6.text-center
    %span Коллекции
  .row
    = render partial: 'delivery/categories/category', collection:  @categories, cached: true
  




