%h2.h5.mt-2.text-info
  «Шариковая фея» предоставляет услуги по оформлению праздника воздушными шарами по привлекательной цене
%p
  Мы создаем оригинальные композиции, которые станут главным украшением торжества и принесут массу приятных впечатлений и положительных эмоций.
  %br
  Мы создаем уникальный дизайн для каждого заказа, учитываем тематику мероприятия, метраж помещения и цветовые предпочтения заказчика. Обращаясь в нашу компанию, вы гарантированно получаете профессиональное оформление праздника воздушными шариками.
  %br
  Мы создаем концепцию дизайна для любых торжеств. Для нас нет ничего невозможного. Мы отказались от традиционных решений и типовых форм – применяем собственные новаторские решения в области дизайна.
%h2.h5.mt-2.text-info
  «Шариковая шея» – украшение праздников воздушными шарами по выгодной цене
%p
  В зависимости от тематики вашего мероприятия мы разрабатываем стильные решения, которые оставят приятный след в памяти ваших гостей.
  %ul
    %li
      %h3.h5.mt-2.text-info
        Оформление для дня рождения
      %p
        Сделайте незабываемый сюрприз вашему имениннику. Приятным подарком станет композиция из объемных цифр, составляющих возраст виновника торжества. Добавьте огромные шары и изделия, наполненные конфетти. Такое поздравление безусловно запомнится надолго.
    %li
      %h3.h5.mt-2.text-info
        Украшения на свадьбу
      %p
      Главный день в жизни новой семьи должен пройти безупречно. Обращаясь к нам, вы гарантированно получаете идеальные украшения. Грамотное сочетание цветов и текстур, оригинальные композиции, панно из шаров – всё это и много другое будет радовать не только главную пару вечера, но и гостей праздника.
    %li
      %h3.h5.mt-2.text-info
        Рождение малыша
      %p
        Самое важное событие в жизни каждой мамы не может остаться незамеченным. Устройте праздник для своей второй половины в честь рождения малыша. А мы приложим максимум усилий и стараний для оформления вашего мероприятия воздушными шарами. Цветовые решения, отражающие пол ребенка, шары в форме малыша и другие варианты дизайна ждут вас в нашей компании.
    %li
      %h3.h5.mt-2.text-info
        Корпоративное мероприятие
      %p
        Нам под силу грамотно организовать оформление для юбилея предприятия, празднования нового года, 8 марта или профессионального праздника ваших работников. Вы всегда можете выбрать композиции, выполненные в корпоративных цветах вашей компании, заказать фигуры из шаров, отражающие специфику вашей профессии или предложить собственный вариант дизайна.
    %li
      %h3.h5.mt-2.text-info
        Открытие организации
      %p
        Для того, чтобы открытие магазина, салона, кафе или другого предприятия не осталось незамеченным, необходимо яркое и запоминающееся оформление. Для вас мы можем предложить гирлянды и цепочки из шаров, которые безусловно привлекут внимание потенциальных клиентов.
%h2.h5.text-info
  Праздничное оформление воздушными шарами от нашей компании – это:
%ul
  %li
    Профессионально разработанный дизайн.
    %p
      Мы учитываем все пожелания и требования клиентов при разработке концепции украшения. Создаем оригинальные и стильные решения для того, чтобы наши клиенты были довольны оформлением.
  %li
    Бесплатный подбор вариантов исполнения.
    %p
      Независимо от бюджета мы разрабатываем концепцию оформления бесплатно. Учитываем все особенности мероприятия – от его тематики до места проведения.
  %li
    Применение нестандартных решений.
    %p
      Собственная команда дизайнеров прикладывает массу усилий и опыта для создания уникальных композиций без использования типичных методов и традиционных форм.
  %li
    Использование материалов высокого качества.
    %p
      Наши изделия не имеют неприятного запаха резины. Поэтому даже при установке габаритных конструкций, вы не столкнетесь с проблемой возникновения неприятных запахов.
  %li
    Гарантия надежности композиций.
    %p
      Использование качественных материалов и профессиональная сборка фигур позволяет гарантировать устойчивость и сохранение первоначальной формы изделий более трех дней.
  %li
    Оперативная доставка.
    %p
      Мы занимаемся украшением помещений в любое время дня и ночи. Благодаря собственным автомобилям и курьерам доставляем заказы точно в оговоренные сроки.
%p
  Чтобы уточнить стоимость оформления праздника воздушными шарами, просто свяжитесь с нами по контактному номеру телефона, через WhatsApp, Viber или Telegram.
