#seo-text.mt-3
  %hr
  %h2
    Воздушные шары на выписку из роддома - это традиция, которой уже много лет!
  %p
    Совсем неважно, кто у вас родился: мальчик или девочка. Это такое событие в жизни, которое никак не может обойтись без шариков!
    Заказывая оформление на выписку у Шариковой феи, вы можете быть уверены, что мама с малышом будут безумно рады такой встрече!
  .lead
    Мы всегда готовы прийти на помощь в этот радостный час!
  %ul
    %li
      %em
        Безупречное исполнение любой задумки и идеи
      %p
        Завалить комнату шарами? Сделать оригинальную гирлянду? Заказать авторскую наклейку на шар? Легко! Подберем и реализуем множество вариантов оформлений.
    %li
      %em
        Только проверенные и качественные материалы
      %p
        Никаких китайских шаров и второсортных элементов декора. Мы используем только качественные шары курпнейших мировых производителей со веми сертификатами качества. Вашему малышу ничего не грозит!
    %li
      %em
        Оперативная круглосуточная доставка
      %p
        Зачастую, молодая мама не знает, когда ее с малышом выпишут из роддома. Поэтому когда врачи сообщают эту новость, остаются считанные часы, чтобы все красиов украсить и организовать встречу как положено. Шариковая фея сделает все максимально быстро!
  %p
    Наша команда понимает, что малыш рождается только один раз в жизни и готова сделать все, чтобы вы вспоминали это событие с теплотой и нежностью. А молодой отец будет горд, что так красиво и пышно встретил маму с ребеночком из роддома.

