- breadcrumb :tags
.container-fluid
  %h1.h2.text-center.mt-lg-5
    Воздушные шары на любой праздник
    .small.text-muted
      Посмотрите готовые оформления
    
  %hr
  .row
    = render partial: 'delivery/main/thumb_composition', collection:  @compositions, cached: true, as: :c
