- breadcrumb :tags
.container-fluid.c-list
  %h1.h5.text-center
    %span
      Воздушные шары на любой праздник
  - @grouped_compositions.each do |compositions, tag|
    %h2.h5.text-uppercase.py-2.my-3.border-bottom
      = link_to tag_path(tag[0]), class: 'text-secondary' do
        = tag[0].name
        %i.fas.fa-angle-double-right
    - @compositions = compositions
    = render partial: 'delivery/compositions/compositions_list'

