- breadcrumb @tag
.container-fluid.mt-5
  %h1.h2
    = @tag.name.capitalize
  %hr
  .row.justify-content-around.compositions
    = render partial: 'delivery/main/thumb_composition', collection: @compositions, as: :c
  .row
    = will_paginate @compositions
