- breadcrumb @tag
.container-fluid.c-list
  %h1.h5.text-center
    .small
      Воздушные шары на
    %span.text-uppercase
      = @tag.name.capitalize
  = render 'delivery/compositions/compositions_list'
