- breadcrumb @tag
.container-fluid.c-list
  %h1.h5.text-center
    .small
      Воздушные шары на
    %span.text-uppercase
      = @tag.name.capitalize
  .row.justify-content-around.compositions
    = render partial: 'delivery/main/thumb_composition', collection: @compositions, cached: true, as: :c
  .row.text-center#pagy
    = raw pagy_nav(@pagy)
