#feedback.bg-grey.py-3.row.my-3
  .feed-img
    = image_tag feedback.img(:preview), class: 'img-fluid'
  .feed-text
    %em.mb-2.d-block
      = Russian::strftime(feedback.created_at, '%d %b %Y')
    .lead
      = feedback.name
    %span
      = feedback.body


