- breadcrumb :feedbacks
- unless @feedbacks.any?
  %h2.text-center.text-secondary.my-5.border-bot
    Пока нет ни одного отзыва!
-else
  .container.border-bot
    %h2.text-center.my-5
      Отзывы наших клиентов
    .row
      = render @feedbacks, cache: true
.container
  = render 'form'
