%ul.nav.nav-tabs.justify-content-end#view-type
  %li.nav-item
    = link_to '#', class: 'nav-link active', data: {toggle: 'tab', target: '#small-preview'} do
      %i.fas.fa-th.fa-lg.text-muted
  %li.nav-item
    = link_to '#', class: 'nav-link', data: {toggle: 'tab', target: '#large-preview'} do
      %i.fas.fa-th-large.fa-lg.text-muted

.tab-content
  .tab-pane.fade#large-preview
    .row.small-compositions
      = render partial: 'delivery/main/thumb_composition',
               collection:  @compositions,
               as: :composition

  .tab-pane.active.show.fade#small-preview
    .row.small-compositions
      = render partial: 'delivery/compositions/small_composition',
                collection: @compositions,
                as: :composition
