.container
  = link_to root_path do
    %i.fa.fa-long-arrow-left
    Назад
  %h2
    Композиция №#{@comp.id}
    .small
      В корзине вы сможете изменить состав композиции

  = render @comp
