#subtotal {

}

.product_in_cart {
  .table {
    background: white;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: .25rem;
    border-collapse: separate;
    padding: 1.25rem;
  }
  @include media-breakpoint-down(lg){

    .input-group {
      width: 8rem !important;
    }
    .product-price {
      .text-center {
        width: 4.5rem;
      }
      
      font-size: 90%;
    }
  }
}
