- breadcrumb :color, @color
.container-fluid.c-list
  %h1.h5.text-center
    %span
      #{@color.name != 'синий' ? @color.name.gsub(/ый|ий|ой/, 'ые').capitalize : 'синие'} воздушные шары
  = render 'delivery/products/products_list'
