- breadcrumb :color, @color
.container-fluid.c-list
  %h1.h5.text-center
    %span
      #{@color.name.chop.chop.capitalize + 'ые'} воздушные шары
  .lead.text-center
    = link_to 'Назад', colors_path, class: 'btn btn-outline-dark mb-2'
  .card-columns
    = render @items_in_collection
