- breadcrumb :color, @color
.container-fluid.c-list
  %h1.h5.text-center
    %span
      #{@color.name != 'синий' ? @color.name.gsub(/ый|ий|ой/, 'ые').capitalize : 'синие'} воздушные шары
  - @grouped_products.each do |group, products|
    .h5
      = group.capitalize
    %hr
    #products-list
      .row
        = render products.sort_by(&:price_with_helium)
