.modal.fade{id: "subposition-modal",  tabindex: "-1",  role: "dialog"}
  .modal-dialog{role: "document", style: 'float: center; width: 90%; margin: auto;'}
    .modal-content{style: 'float: left;'}
      .modal-header
        %button{type: "button",  class: "close",  data: {dismiss: "modal"}}
          %span
            &times;
        .h3.modal-title{id: "myModalLabel"}
          Добавьте в композицию шары
          %br
          %small
            Выберите категорию
        .col-md-6.col-sm-6.col-xs-12.col-sm-12
          .input-group
            = text_field_tag :search,'', class: 'form-control', placeholder: 'Начните вводить название категории...'
            %span.input-group-btn
              = button_tag(class: 'btn btn-info', id: 'clear-search') do
                %i.fa.fa-times
      .modal-body{style: 'float: left;'}
        .row
          .container
            - @collections.sort!.each do |collection|
              .col-md-3.col-xs-12.col-sm-4
                = link_to cart_path(collection: collection, position: position), remote: true do
                  %span.as_btn= collection
