.row
  .col-12
    %h2.border-bot По цветам
  - @collections.each do |collection|
    .category-item
      - position = p || @position
      = link_to my_cart_path(collection_id: collection.id, position: position), remote: true do
        %span.as_btn= collection.name.capitalize
.row
  .col-12
    %h2.border-bot По коллекциям
  - @categories.each do |category|
    .category-item
      - position = p || @position
      = link_to my_cart_path(category_id: category.id, position: position), remote: true do
        %span.as_btn= category.name.capitalize
%div{style: 'margin-bottom: 4rem;'}
