- @cart.positions.includes(:subpositions, :composition).each do |p|
  %div.product_in_cart{id: "position#{p.id}"}
    .row
      .col-12.text-center
        %table.table.table-sm.table-borderless.table-responsive-md
          = render p.subpositions.order(:id)
      .col-8
        = link_to 'Добавить в композицию', products_path, class: 'btn btn-info btn-block btn-sm'
      .col-4
        = link_to 'Удалить', remove_from_cart_path(p), class: 'btn btn-danger btn-block btn-sm', method: :delete, remote: true