%ul
  %li
    = subposition.item.name
    = link_to delivery_add_quantity_path(id: subposition.id), method: :post, remote: true do
      %i.fa.fa-plus
    %span.quantity
      = s.quantity
    = link_to delivery_down_quantity_path(id: subposition.id), method: :post, remote: true do
      %i.fa.fa-minus
    %br



