= stylesheet_link_tag    'application', media: 'all'
%title Что-то пошло не так...

.container
  .row.align-items-center
    .col-6
      = link_to root_path do
        =image_tag 'logo2.png', class: 'img-fluid'
    .col-6
      %h1
        Упс. У нас что-то сломалось...
      %p Не переживайте, мы постараемся починить все как можно скорее!
      %p
        = link_to 'На главную', root_path, class: 'btn btn-info'
