= stylesheet_link_tag    'application', media: 'all'
%title Страница, которую вы запрашиваете, не найдена!

.container
  .row.align-items-center
    .col-6
      = link_to root_path do
        =image_tag 'logo2.png', class: 'img-fluid'
    .col-6
      %h1
        Ой! Страница не найдена! (404)
      %p Возможно вы ошиблись в адресе или страница была удалена!
      %p
        = link_to 'На главную', root_path, class: 'btn btn-info'

