= stylesheet_link_tag    'application', media: 'all'
%title Страница, которую вы запрашиваете, не найдена!

.container
  .row.align-items-center
    .col-lg-6.col-sm-12
      = link_to root_path do
        =image_tag 'logo2.png', class: 'img-fluid'
    .col-lg-6.col-sm-12.text-center
      %h1
        Упс! Страница не найдена! (404)
      %p Возможно вы ошиблись в адресе или страница была удалена!
      %p
        = link_to 'Вернуться на главную', root_path, class: 'btn btn-info col-8'

