$.extend($.expr[':'], {
  'containsi': function(elem, i, match, array)
  {
    return (elem.textContent || elem.innerText || '').toLowerCase()
    .indexOf((match[3] || "").toLowerCase()) >= 0;
  }
});



$(document).on('click', '#icon-wrapper', function(){
  $('#resp-menu').toggle('slide',300);
  $('#icon-wrapper .fa-bars, #icon-wrapper .fa-times').toggle(300);
  $('.resp-menu-bar').toggleClass('bg-teal', 300);
});


// $(document).on('click', '#admin-collapse', function(){
//   $('.left-menu').toggle('fast', function(){
//     $(this).toggleClass('toggled');
//   });
// });



$(document).on('click','.position-modal .as_btn', function(){
  $('.modal-body').html('<div class="text-center h1"><i class="fa fa-spinner fa-pulse fa-3x fa-fw"></i></div>');
});

$(document).on('hidden.bs.modal', '.position-modal', function(){
  $('.modal-body', this).html();
});


$(document).on('click','#resp-menu  .dropdown li', function(){
  $('.dropdown-menus', this).toggle();
});


$(document).ready(function(){

  $('input[name="search"]').on('keyup', function(event){
    var search = $(this).val();
    var key = event.which || event.keyCode || event.charCode;
    if(search == ''){
      $('.modal div').show();
    }else{
      $('.modal').find('.as_btn:not(:containsi("'+search+'"))').closest('div').hide();
      $('.modal').find('.as_btn:containsi("'+search+'")').closest('div').show();
    }
  });
  $(document).on('click', '#clear-search', function(){
    $('input[name="search"]').val('');
    $('.modal div').show();
  });


  $('[data-mask]').each(function(index, value){
    element = $(value)
    element.mask($(value).data('mask'), {placeholder: '-'})
  });

  $('.clockpicker').clockpicker(
    {'default': 'now',
      autoclose: true,
      donetext: 'Готово!'}
    );


});

$(document).on('keyup','#subposition_quantity', function (e) {
  var input = this;
  setTimeout(function(){
    if ($(input).val()){
      $(input).closest('form').submit();
    }
  }, 1100)
  return false;
  });

$(document).on('mouseenter touchstart', '[data-product-id], [data-item-id]' , function(){
  $('[data-item-id] img, [data-product-id] img').each(function(index, value){
    element = $(value)
    element.popover({
      trigger: 'hover',
      placement: 'top',
      container: 'body',
      animation: false,
      content: function(){
        var name = $(this).closest('.item').data('content');
        return name;
      }
    });
  });
});

$(document).ready(function(){
  $('.slider').slick({
    slidesToShow: 4,
    slidesToScroll: 1,
    focusOnSelect: true,
    autoplay: true,
    autoplaySpeed: 2000,
    arrows: true,
    prevArrow: '<i class="fa fa-chevron-left"></i>',
    nextArrow: '<i class="fa fa-chevron-right"></i>',
    variableWidth: true,
    lazyLoad: 'progressive'
  });
})

// $(document).ready(function(){
//   $('#menu').addClass('original').clone().insertAfter('#menu').addClass('cloned').css('position', 'fixed').css('background', '#ffffff').css('width', '100%').css('top', '0').css('z-index', '1000').removeClass('original').hide();
// });

// $(window).scroll(function(){
//   if ($('#menu').length){
//     var orgPos = $('#menu').offset();
//     var orgPosTop = orgPos.top;
//     var orgPosLeft = orgPos.left;
//     if ($(this).scrollTop() >= (orgPosTop+1)){
//       $('.cloned').show();
//       $('.cloned a.nav-link').removeClass('text-white');
//       $('.original').css('visibility', 'hidden')
//     }else{
//       $('.cloned').hide();
//       $('.original').css('visibility', 'visible')
//     }
//   }
// })

$(document).ready(function(){
  $('#resp-fixed').addClass('resp-original').clone().insertAfter('#resp-fixed').addClass('resp-cloned').css('position', 'fixed').css('width', '100%').css('top', '0').css('z-index', '1000').removeClass('resp-original').hide();
});

$(window).on('scroll', function(){
  if ($('#resp-fixed').length){
    var orgPos = $('#resp-fixed').offset();
    var orgPosTop = orgPos.top;
    var orgPosLeft = orgPos.left;
    if ($(this).scrollTop() >= (orgPosTop)){
      $('.resp-cloned').show();
      $('.resp-original').css('visibility', 'hidden')
    }else{
      $('.resp-cloned').hide();
      $('.resp-original').css('visibility', 'visible')
    }
  }
});


$(document).ready(function(){
  $('#lp-header').addClass('original').clone().insertAfter('#lp-header').addClass('cloned').css('position', 'fixed').css('background', '#ffffff').css('width', '100%').css('top', '0').css('z-index', '1000').removeClass('original').hide();
});

$(window).on('scroll', function(){
  if ($('#lp-header').length){
    var orgPos = $('#lp-header').offset();
    var orgPosTop = orgPos.top;
    var orgPosLeft = orgPos.left;
    if ($(this).scrollTop() >= (orgPosTop+1)){
      $('.cloned').show();
      $('.original').css('visibility', 'hidden')
    }else{
      $('.cloned').hide();
      $('.original').css('visibility', 'visible')
    }
  }
})


$(function () {
  $('[data-toggle="tooltip"]').tooltip()
})
