$.extend($.expr[':'], {
  'containsi': function(elem, i, match, array)
  {
    return (elem.textContent || elem.innerText || '').toLowerCase()
    .indexOf((match[3] || "").toLowerCase()) >= 0;
  }
});

$(document).on('click','.position-modal .as_btn', function(){
  $('.modal-body').html('<div class="text-center h1"><i class="fa fa-spinner fa-pulse fa-3x fa-fw"></i></div>');
});

$(document).on('hidden.bs.modal', '.position-modal', function(){
  $('.modal-body', this).html();
});


$(document).on('click','#resp-menu  .dropdown li', function(){
  $('.dropdown-menus', this).toggle();
});


$(document).on('ready, turbolinks:load', function(){


  $(document).on('click', '#clear-search', function(){
    $('input[name="search"]').val('');
    $('.modal div').show();
    $('.as_btn').closest('div').show();
  });

$(document).ready(function(){
  $('[data-mask]').each(function(index, value){
    element = $(value)
    element.mask($(value).data('mask'), {placeholder: '-'})
  });

  $('.clockpicker').clockpicker(
    {'default': 'now',
      autoclose: true,
      donetext: 'Готово!'}
    );
});



$(document).on('ready, turbolinks:load',function(){
  $('[data-mask]').each(function(index, value){
    element = $(value)
    element.mask($(value).data('mask'), {placeholder: '-'})
  });

  $('.clockpicker').clockpicker(
    {'default': 'now',
      autoclose: true,
      donetext: 'Готово!'}
    );
})



});

$(document).on('keyup','#subposition_quantity', function (e) {
  var input = this;
  setTimeout(function(){
    if ($(input).val()){
      $(input).closest('form').submit();
    }
  }, 1100)
  return false;
});

$(document).on('mouseenter touchstart', '[data-product-id], [data-item-id]' , function(){
  $('[data-item-id] img, [data-product-id] img').each(function(index, value){
    element = $(value)
    element.popover({
      trigger: 'hover',
      placement: 'top',
      container: 'body',
      animation: false,
      content: function(){
        var name = $(this).closest('.item, .product-name').data('content');
        return name;
      }
    });
  });
});




$(document).on('turbolinks:load', function(){
  $('#more').hide();
  var rows = $('.item');
  if (rows.length > 4){
    $('#more').show();
    $(rows[3]).addClass('grad-1');
    for (i = 4; i < rows.length; i++) {
      $(rows[i]).hide();
    }
    $('#more').on('click', function(){
      for (i = 4; i < rows.length; i++) {
        $(rows[i]).toggle(100);
      }
      $(rows[3]).toggleClass('grad-1');
      $(this).find('i').toggleClass('fa-chevron-up').toggleClass('fa-chevron-down');
      $(this).toggleClass('with-grad');
      $(this).find('.small').text(function(){
        var text = $(this).text();
        return text == 'Спрятать' ? "Показать все" : "Спрятать"
      })
    });
  }
});




$(function () {
  $('[data-site]').tooltip();
});
