- breadcrumb :categories
.container-fluid.c-list
  %h1.h5.font-weight-bold.text-center
    %span
      Воздушные шары по тематике
  .row
    .col-12.my-3
      .input-group
        = text_field_tag :search,'', class: 'form-control', placeholder: 'Поиск по категориям'
        %span.input-group-append
          = button_tag(class: 'btn btn-info', id: 'clear-search', title: 'Очистить') do
            %i.fa.fa-times
  .row
    = render partial: 'delivery/categories/category', collection:  @categories, cached: true

