- breadcrumb :category, @category
.container-fluid.c-list

  %h1.h5.font-weight-bold.text-center
    .small
      Воздушные шары
    %span
      = @category.name.capitalize
  = render 'delivery/products/products_list'


