- breadcrumb :category, @category
.container-fluid.c-list

  %h1.h5.font-weight-bold.text-center
    .small
      Воздушные шары
    %span
      = @category.name.capitalize
  -#.lead.text-center
  -#  = link_to 'Назад', categories_path

  - @grouped_products.each do |group, products|
    .h5
      = group.capitalize
    %hr
    #products-list
      .row
        = render partial: 'delivery/products/product', collection: products.sort_by(&:price_with_helium), cached: true

