- breadcrumb :category, @category
.container-fluid.c-list

  %h1.h5.font-weight-bold.text-center
    .small
      Воздушные шары
    %span
      = @category.name.capitalize
  .lead.text-center
    = link_to 'Назад', categories_path, class: 'btn btn-outline-dark mb-2 btn-sm'

  .card-columns#products-list
    = render @items_in_collection
  %hr
  .lead.text-center
    = link_to 'Назад', categories_path, class: 'btn btn-outline-dark mb-2 btn-sm'

