#lp_header {

}

.slider-img {
  @include make-col-lg(6);
  height: 600px;
  img {
    max-height: 600px;
  }
  @include media-breakpoint-down(lg){
    height: 300px !important;
    img {
      max-height: 300px;
    }
  }

}

.slider-nav {
  i {
    font-size: 2rem;
    padding: 0 1rem;
    cursor: pointer;
    &:hover{
      color: $brand-secondary;
    }
  }
  img {
    cursor: pointer;
  }
}

#insta-slider {
  i {
    font-size: 2em;
    cursor: pointer;
    &:hover{
      color: $brand-secondary;
    }
  }
  .fa-chevron-left {
    padding-right: 0.5em;
  }
  .fa-chevron-right {
    padding-left: 0.5em;
  }
}

.insta {
  padding: 1em;
}
