#lp_header {

}

.slider-img {
  @include make-col-lg(6);
  height: 600px;
  img {
    max-height: 600px;
  }
  @include media-breakpoint-down(lg){
    height: 300px !important;
    img {
      max-height: 300px;
    }
  }

}

.slider-nav {
  i {
    font-size: 2rem;
    padding: 0 1rem;
    cursor: pointer;
    &:hover{
      color: $brand-secondary;
    }
  }
  img {
    cursor: pointer;
  }
}

#insta-slider {
  i {
    font-size: 2.5em;
    cursor: pointer;
    &:hover{
      color: $brand-secondary;
    }
  }
  .fa-chevron-left {
    position: absolute;
    left: 10px;
    z-index: 1010;
    top: 50%;
    color: darken($brand-secondary, 10%)
  }
  .fa-chevron-right {
    position: absolute;
    right: 10px;
    z-index: 1010;
    top: 50%;
    color: darken($brand-secondary, 10%)
  }
    @include media-breakpoint-down(md){
    i{
      font-size: 4rem;
    }
  }
}

.insta {
  margin: 0 0.5em;
  @include make-col-xl(4);
  @include make-col-lg(4);
  @include make-col-md(6);
  @include make-col-sm(12);
  @include make-col-xs(12);
  @include media-breakpoint-down(md){
    margin: 0;
    i{
      font-size: 4rem;
    }
  }
}
