.admin>.container {
  padding-top: 5%;
}

.left-menu{
  @include make-xs-column(2);
  @include make-md-column(2);
}
.left-menu {
  min-height: 100%;
  position: absolute;
  z-index: 998;
  ul {
    list-style-type: none;
  }
  .nav-header {
    min-height: 100px;
  }
  &:hover, &:focus, &:visited {
    text-decoration: none;
  }
}

.left-menu.toggled + .container {
  @include make-md-column-offset(2);
  @include make-xs-column-offset(2);
  padding-left: 40px;
}

.top-menu {
  width: 100%;
  position: absolute;
  z-index: 999;
  i, li {
    font-size: 1.2em;
  }
}

.top-menu + .container {
  padding-top: 60px;
}
