
 @import 'custom_variables';
 @import 'bootstrap';
 @import 'common';
 @import 'modal';
 @import 'sidebar';
 @import 'products';
 @import 'cart';
 @import 'bootstrap-clockpicker.min';
 @import 'business';
 @import 'admin';
 @import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,700&subset=cyrillic');
 @import url('https://use.fontawesome.com/releases/v5.8.1/css/all.css');


 body {
   position: absolute;
   width: 100%;
   height: 100%;
   background-color: $light;
   @include  media-breakpoint-down(md){
     padding-top: 80px;
   }


  .wrapper {
    position: relative;
     min-height: 100vh;
  }

   #seo-text {
     margin-top: 2rem;
   }

   footer {
     background: white;
   }
   #main-container {
     padding: 0 !important;
   }
}

#admin {
  padding-top: 0 !important;
}



.bg-info {
  color: white;
  li > a {
    color: white;
  }
}





#return-to-top {
  z-index: 999;
  cursor: pointer;
  position: fixed;
  bottom: 30px;
  right: 30px;
  color: rgba($brand-secondary, 0.5);
  width: 56px;
  height: 56px;
  display: block;
  text-decoration: none;
  display: none;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.fa-angle-double-up {
  color: #ffffff !important;
}
#return-to-top i {
    color: rgba($brand-secondary, 0.6);
    margin: 0;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
#return-to-top:hover .fa-circle {
    // background: rgba(darken($brand-secondary, 10%), 0.9);
    color: $brand-secondary;
}
#return-to-top:hover .fa-angle-double-up {
    bottom: 0.3em;
}


#flash {
  position: fixed;
  top: 10%;
  right: 0;
  z-index: 999;
  font-size: 1.2em;
  //font-family: $font-family-serif;
}


//input, select, textarea {
//  font-size: 16px !important;
//}
 .bd-callout-danger {
   padding: 1.25rem;
   margin-top: 1.25rem;
   margin-bottom: 1.25rem;
   border: 1px solid #eee;
   border-left-width: .25rem;
   border-radius: .25rem;
   border-left-color: $danger;
   background: white;
 }



