/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */
 @import 'custom_variables';
 @import 'bootstrap';
 @import 'custom_mixins';
 @import 'jquery-ui';
 @import 'font-awesome-sprockets';
 @import 'font-awesome';
 @import 'fa-viber';
 @import 'common';
 @import 'header';
 @import 'clockpicker';
 @import 'admin';
 @import 'users';
 @import 'offer';
 @import 'footer';
 @import 'resp_menu';
 @import 'main';
 @import 'modal';
 @import 'forms';
 @import 'cart';
 @import 'composition';
 @import 'business';
 @import '_lp_header';
 @import 'slick';
 @import 'slick-theme';
 @import 'feedbacks';
 @import 'partners';
 @import "social-share-button";



 body {
  width: 100%;
  height: 100%;
  .h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h5, h4, a {
    font-family: $font-family-serif ;
  }
}

body, p, span, .lead,.btn {
  font-family: $font-family-sans-serif !important;
}

.lead{
  font-weight: 700;
}
.wrapper {
  position: relative;
  width: 100%;
  min-height: 90vh;
}


#return-to-top {
  z-index: 999;
  cursor: pointer;
  position: fixed;
  bottom: 20px;
  left: 20px;
  color: rgba($brand-secondary, 0.7);
  // width: 56px;
  // height: 56px;
  display: block;
  text-decoration: none;
  display: none;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.fa-angle-double-up {
  color: #ffffff !important;
}
#return-to-top i {
    color: rgba($brand-secondary, 0.6);
    margin: 0;
    // position: relative;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
#return-to-top:hover .fa-circle {
    // background: rgba(darken($brand-secondary, 10%), 0.9);
    color: $brand-secondary;
}
#return-to-top:hover .fa-angle-double-up {
    bottom: 0.3em;
}

.hidden {
  display: none !important;
}

small, .small {
  font-size: 0.6em;
}

#flash {
  position: fixed;
  top: 10%;
  right: 0;
  z-index: 999;
  font-size: 1.2em;
  font-family: $font-family-serif;
}
input[type='submit'], button {
  cursor: pointer;
}

input, select, textarea {
  font-size: 16px !important;
}
label {
  font-weight: 700;
}

