.jumbotron#offer {
    background: image-url('business.jpg') no-repeat;
    background-size: cover;
    background-position: top;
    i {
      font-size: 2rem;
      color: #ffffff;
      cursor: pointer;
    }
  }



.navbar-brand {
  img {
    max-height: 40px;
    max-width: 100%;
  }

}

.business-call {
  @include make-col(2);
  text-align: right;
  ul {
    margin: 0;
  }
}

.head-text {
  @include make-col-lg(6);
  @include make-col-xl(6);
  font-size: 1.8rem;
}

.business-offer {
  @include make-col(12);
  margin-top: 2rem;
  color: #ffffff;
  background-color: transparentize($teal, 0.2);
  padding: 0.5rem;
  border-radius: 6px;
  h1, p{
    color: #ffffff;
  }
  hr {
    border-top: 1px solid #ffffff;
  }
  .btn {
    margin-bottom: 1rem;
  }
}

#business-menu {
  @include make-col-lg(12);
  @include make-col-xl(12);
  @include make-col-md(12);
  @include make-col-sm(12);
  @include make-col-xs(12);
  .nav-item:hover {
    background-color: $brand-secondary;
    border-radius: 4px;
  }
  @include media-breakpoint-up(md) {
    .nav-item{
      font-size: 0.9rem;
    }
  }
  @include media-breakpoint-down(md) {
    .nav-item{
      font-size: 1.5rem;
    }
  }

}

.navbar-toggler > i {
  font-size: 2em;
  color: #ffffff;
}

#companies {
  margin-bottom: 2rem;
  color: darken($brand-secondary, 10);
}

#company {

  @include make-col(3);
  @include media-breakpoint-down(lg){
     @include make-col(4);
  }
  border: none;
  margin: 1rem 0;
  img {
    object-fit: contain;
  }
}

.slider-outdoor{
  img {
    width: auto !important;
    max-height: 400px;
  }
  .slick-dots {
    li {
      button:before {
        color: white;
      }
    }
  }
  @include media-breakpoint-down(lg){
    .slick-next {
      right: -5px;
      z-index: 800;
    }
    .slick-prev {
      left: -5px;
      z-index: 800;
    }
  }

  .slick-prev:before, .slick-next:before {
    font-size: 30px;
    color: darken($brand-secondary, 10%);
  }

}
