

.business-call {
  @include make-col(2);
  text-align: right;
  ul {
    margin: 0;
  }
}



#business-offer {
  background: image-url('business.jpg') no-repeat center;
  background-size: cover;
}

#main-wrapper {
  background: transparentize(black, 0.5)
}

.navbar-toggler > i {
  font-size: 2em;
  color: #ffffff;
}

#companies {
  margin-bottom: 2rem;
}

.slider-company, .slider-comp {
  img{
    width: auto !important;
    height: 100px;
    @include media-breakpoint-down(lg){
      height: 50px;
    }
  }
  .slick-dots {
    li {
      button:before {
        color: $teal;
      }
    }
  }
  .slick-prev:before, .slick-next:before {
    font-size: 30px;
    color: darken($brand-secondary, 10%);
  }
}

.slider-outdoor{
  img {
    width: auto !important;
    max-height: 400px;
  }
  .slick-dots {
    li {
      button:before {
        color: $info;
      }
    }
  }
  @include media-breakpoint-down(lg){
    .slick-next {
      right: 1rem !important;
      z-index: 500;
    }
    .slick-prev {
      left: 1rem !important;
      z-index: 500;
    }
  }

  .slick-prev:before, .slick-next:before {
    font-size: 2rem;
    color: darken($brand-secondary, 10%);
  }

}

#outdoor, #indoor, #prints {
  min-height: 100vh;
  @include media-breakpoint-down(lg){
    .h1 {
      font-size: 2rem;
    }
  }
}

.slick-next {
    right: 1rem !important;
    z-index: 800;
  }
  .slick-prev {
    left: 1rem !important;
    z-index: 800;
  }

.font-oswald {
  font-family: 'Oswald', sans-serif;
}

#particles {
  top: 0;
  left: 0;
  background-color: rgb(23, 162, 184);
  position: absolute;
  z-index: -1;
  min-height: 100vh;
  width: 100%;
  @include gradient-x($start-color: $brand-secondary, $end-color: $brand-info, $start-percent: 0%, $end-percent: 100%);
  canvas {
    min-height: 100vh !important;
  }
}


#main-wrapper {
  min-height: 100vh;
  @include media-breakpoint-down(lg){
    .display-3{
      font-size: 2rem;
      margin-top: 2rem;
    }
  }
  @include media-breakpoint-down(lg){
    .btn {
      width: 100%;
    }
  }
  @include media-breakpoint-down(xs){
    h1{
      margin-top: 2em !important;
      font-size: 1.5rem !important;
    }
  }
}

#business-menu {
  @include gradient-x($start-color: $brand-secondary, $end-color: $brand-info, $start-percent: 0%, $end-percent: 100%);
  .nav-link.active {
    background-color: $brand-info;
  }
  .nav-link {
    color: #ffffff;
  }
}

#iconlist{
  @include make-col-ready();
  @include make-col(7);
  @include media-breakpoint-down(lg){
    @include make-col(12);
    .row{
      -webkit-box-orient: vertical !important;
      -webkit-box-direction: reverse !important;
      -ms-flex-direction: column-reverse !important;
      flex-direction: column-reverse !important;
    }

  }
  #icon {
    @include make-col-ready();
    @include make-col(3);
    text-align: center;
  }
  #icon-text {
    @include make-col-ready();
    @include make-col(9);
    text-align: right;
  }

  @include media-breakpoint-down(lg){
    #icon, #icon-text{
      @include make-col(12);
      text-align: center;
    }
  }

}

#iconlist-reverse {
  @include make-col-ready();
  @include make-col(7);
  @include make-col-offset(5);
  @include media-breakpoint-down(lg){
    @include make-col(12);
    @include make-col-offset(0);
  }
  #icon {
    @include make-col-ready();
    @include make-col(3);
    text-align: center;
  }
  #icon-text {
    @include make-col-ready();
    @include make-col(9);
    text-align: left;
  }
  @include media-breakpoint-down(lg){
    #icon, #icon-text{
      @include make-col(12);
      text-align: center;
    }
  }
}

#iconlist, #iconlist-reverse {
  margin-top: 2rem;
}
