.subtotal-col {
  @include make-col(6);
  margin: 0.3em 0;
}

.cart-positions {
  @include media-breakpoint-up(lg){
    @include make-col(8);
  }
  @include media-breakpoint-down(lg){
    @include make-col(12);
  }
}

.cart-position {
  @include make-col(12);
  margin: 1rem 0;
}

.position-img {
  @include media-breakpoint-up(lg){
    @include make-col(4);
  }
  @include media-breakpoint-down(lg){
    @include make-col(12);
  }

}

.cart-subpositions {
  @include media-breakpoint-up(lg){
    @include make-col(8);
  }
  @include media-breakpoint-down(lg){
    @include make-col(12);
  }
}

.cart-subposition {
  margin-bottom: 0.5em;
}

.product-name {
  @include media-breakpoint-up(lg){
    @include make-col(4);
  }
  @include media-breakpoint-down(lg){
    @include make-col(4);
  }
  text-align: center;
  span {
    border-bottom: 1px dashed black;
  }
  @extend .item;
}

.product-quantity {
  @include media-breakpoint-up(lg){
    @include make-col(4);
  }
  @include media-breakpoint-down(lg){
    @include make-col(4);
  }
  text-align: center;
}

.remove-subposition {
  @include media-breakpoint-up(lg){
    @include make-col(1);
  }
  @include media-breakpoint-down(lg){
    @include make-col(1);
  }
}

.product-price {
  @include media-breakpoint-up(lg){
    @include make-col(3);
  }
  @include media-breakpoint-down(lg){
    @include make-col(3);
  }
}

#del-from-cart {
  font-size: 1em;
  z-index: 995;
  right: 1em;
}

.subtotal {
  @include media-breakpoint-up(lg){
    @include make-col(4);
  }
  @include media-breakpoint-down(lg){
    @include make-col(12);
  }
}

.category-item {
  @include make-col-ready();
  @include media-breakpoint-up(lg){
    @include make-col(3);
  }
  @include media-breakpoint-down(lg){
    @include make-col(6);
  }
  @include media-breakpoint-down(sm){
    @include make-col(12);
  }
}

.item-in-collection {
  @include media-breakpoint-up(lg){
    @include make-col(3);
  }
  @include media-breakpoint-down(lg){
    @include make-col(6);
  }
  @include media-breakpoint-down(sm){
    @include make-col(12);
  }
  margin-bottom: 0.5em;
}
