.cart {
  margin-top: 2em;
  .form-add-sub {
    display: none;
  }
  .item-in-cart-list {
    border: 1px solid grey;
    padding: 0.625em;
    border-radius: 4px;
    float: left;
    .item-in-cart {
      width: 100%;
      text-align: center;
      float: left;
      margin: 1em 0;
      .img {
        width: 10%;
        float: left;
        img {
          width: 100%;
        }
      }
      .fa-plus, .fa-minus {
        border: 1px solid #00B454;
        padding: 0.16em;
        border-radius: 4px;
        margin: 0 0.16em;
        color: #00B454;
        &:hover {
          color: white;
          background-color: #00B454;
        }
      }
      .info {
        text-align: left;
        float: left;
        margin-left: 4%;
      }
      .title {
        font-size: 1em;
        font-weight: bold;
      }
    }
  }
}

