@import 'custom_variables';
@import 'bootstrap';
@import url('https://use.fontawesome.com/releases/v5.8.1/css/brands.css');
@import url('https://use.fontawesome.com/releases/v5.8.1/css/fontawesome.css');

.btn {
  font-size: 1.5rem !important;
  @extend .text-left;
}

i {
  font-size: 1.5rem !important;
}

body {background-color: $light;}