
.bg-brand > ul > li > a {
  color: #ffffff;
}

.bg-brand > div > ul > li > a {
  color: #ffffff;
}

.as_btn {
  border: 1px solid $brand-secondary;
  padding: 4px 0;
  text-align: center;
  display: inline-block;
  margin: 2px 0;
  width: 100%;
  border-radius: 4px;
  font-weight: bold;
  &:hover {
    background-color: $brand-secondary;
    color: white;
    border: 1px solid $gray-light;
  }
}
.strong {
  font-weight: bold;
}

.border-bot {
  border-bottom: 1px solid $brand-primary;
  margin-bottom: 10px;
  padding-bottom: 6px;
}



.bg-brand {
  background-color: $brand-primary;
  color: #ffffff;
  text-decoration: none;
  padding: 0.2em 0.2em;
}

.bg-transparent {
  color: #ffffff;
  text-decoration: none;
  padding: 0.2em 0.2em;
}

.bg-brand > a {
  color: #ffffff;
  &:hover, &:focus {
    color: #ffffff;
  }

}

.bg-secondary {
  background-color: $brand-secondary;
}

.border-top {
  border-top: 1px solid $brand-primary;
  padding-top: 4px;
}

.border-right {
  border-right: 1px solid $brand-primary;
}


.phones {
  font-size: 1.2em;
}





.thumbnail {
  border: 1px solid $brand-primary;
}

.sec {
  background-color: $brand-secondary;
}


.dropdown>li{
  cursor: pointer;
}

.dropdown-menus {
  margin-left: 1em;
  display: none;
}
.input-group > .input-group-addon {
  background-color: $brand-primary;
  color: white;
  a {
    color: white;
  }
  &:hover {
    background-color: darken($brand-secondary, 10);
  }
}


input[type='number'] {
  -moz-appearance: textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.error {
  color: red;
  margin-top: 6px;
}

.error + .item {
  border: 1px solid red;
}

