
.bg-brand > ul > li > a {
  color: #ffffff;
}

.bg-brand > div > ul > li > a {
  color: #ffffff;
}


.gift {
  //background: image-url('gift.png') no-repeat;
  //
  //
  min-height: 25vh;
  position: relative;
  &:after {
    content: "";
    background: image-url('gift.png') no-repeat;
    opacity: 0.5;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    background-position: center top;
    background-size: 200px;
  }
  .col-12, .btn {
    z-index: 2;
  }
}



.bg-brand {
  background-color: $brand-primary;
  color: #ffffff;
  text-decoration: none;
  padding: 0.2em 0.2em;
}

.bg-transparent {
  opacity: 0.1;
}

.bg-brand > a {
  color: #ffffff;
  &:hover, &:focus {
    color: #ffffff;
  }

}

.bg-secondary {
  background-color: $brand-secondary;
}

.border-top {
  border-top: 1px solid $brand-primary;
  padding-top: 4px;
}

.border-right {
  border-right: 1px solid $brand-primary;
}


.phones {
  font-size: 1.2em;
}





.thumbnail {
  border: 1px solid $brand-primary;
}

.sec {
  background-color: $brand-secondary;
}


.dropdown>li{
  cursor: pointer;
}


.input-group > .input-group-addon {
  background-color: $brand-primary;
  color: white;
  a {
    color: white;
  }
  &:hover {
    background-color: darken($brand-secondary, 10);
  }
}


input[type='number'] {
  -moz-appearance: textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.error {
  color: red;
  margin-top: 6px;
}

.error + .item {
  border: 1px solid red;
}


.pagination {
  @extend .d-flex;
  width: 100%;
  @extend .align-items-center;
  @extend .justify-content-between;
  @extend .mt-4;
  text-align: center;
}
