.border-bot {
  border-bottom: 1px solid $brand-primary;
}
.bg-brand {
  background-color: $brand-primary;
  a {
    color: #ffffff;
  }
}

.social {
  font-size: 2em;
  li {
    float:right;
  }
}

.phones {
  font-size: 1.2em;
}


