@import 'bootstrap/functions';
@import 'bootstrap/mixins';
@import 'bootstrap/variables';

@mixin make-col-xs( $cols ) {
  @include make-col-ready();
  @include media-breakpoint-only(xs) {
    @include make-col($cols);
  }
}

@mixin make-col-sm( $cols ) {
  @include make-col-ready();
  @include media-breakpoint-only(sm) {
    @include make-col($cols);
  }
}

@mixin make-col-md( $cols ) {
  @include make-col-ready();
  @include media-breakpoint-only(md) {
    @include make-col($cols);
  }
}

@mixin make-col-lg( $cols ) {
  @include make-col-ready();
  @include media-breakpoint-only(lg) {
    @include make-col($cols);
  }
}

@mixin make-col-xl( $cols ) {
  @include make-col-ready();
  @include media-breakpoint-only(xl) {
    @include make-col($cols);
  }
}


@include media-breakpoint-down(md) {
  html {
    font-size: 0.9rem;
  }
  .modal-dialog {
    min-width: 95% !important;
  }
  .modal-open {
    padding-right: 0px !important;
  }
}

@include media-breakpoint-down(sm) {
  html {
    font-size: 0.8rem;
  }
}

@include media-breakpoint-down(xs) {
  html {
    font-size: 0.8rem;
  }
}
