
$theme-colors: (
  "primary": #000000,
  "info": #9555bd,
  "secondary": #ff4ba9
);

$enable-gradients: true;
// // Colors
 $brand-primary: #000000;
//  // #68c4af;
 $brand-secondary: #ff4ba9;
 $brand-info: #9555bd;
 // Dropdowns
 $dropdown-link-color: $brand-secondary;
 // Navs
 $nav-link-hover-bg: darken($brand-secondary, 10%);
 $nav-pills-active-link-hover-color: #ffffff;
// Button
$btn-info-bg: $brand-secondary;
$input-border-focus: $brand-secondary;
$headings-color: darken($brand-primary, 10%);
// Fonts
$font-family-serif: 'Roboto Slab', serif;
$font-family-sans-serif: 'Roboto', sans-serif;
$font-family-base: $font-family-serif;
$enable-gradients: true;

