
$theme-colors: (
  "primary": #000000,
  "info": #9555bd,
  "secondary": #ff4ba9,
  "success": #77dd77,
  "lavender": #ac7acb,
  "blue": #0088cc
);

$brand-primary: #000000;
$brand-secondary: #ff4ba9;
$brand-info: #9555bd;

$light-pink: transparentize($brand-secondary, 0.3);
$lavander: #ac7acb;
//
//$font-family-serif: 'PT Serif', serif;
$font-family-sans-serif: 'Montserrat', sans-serif;
$enable-responsive-font-sizes: true;
$enable-gradients: false;

.btn-success, .btn-blue {
  color: white !important;
}


