
$theme-colors: (
  "primary": #000000,
  "info": #9555bd,
  "secondary": #ff4ba9
);

$enable-gradients: true;
$brand-primary: #000000;
$brand-secondary: #ff4ba9;
$brand-info: #9555bd;

$font-family-serif: 'Roboto Slab', serif;
$font-family-sans-serif: 'Roboto', sans-serif;
$font-family-base: $font-family-serif;

