#feedback {
  @include make-col-ready();
  @include make-col(6);
  @include media-breakpoint-down(lg){
    @include make-col(12);
  }
  @include make-row();
}

.feed-img{
  @include make-col-ready();
  @include make-col(3);
  @include media-breakpoint-down(lg){
    @include make-col(5);
  }
  img {
    overflow: hidden;
    width: 100px;
    height: 100px;
    object-fit: cover;
  }
}

.feed-text{
  @include make-col-ready();
  @include make-col(9);
  @include media-breakpoint-down(lg){
    @include make-col(7);
  }
}

.feed {
  li {
    display: inline;
  }
  .prev, .next {
    padding: 0.5rem 1rem;
    border: 1px solid $brand-info;
    border-radius: 20px;
    a {
      color: $brand-info;
    }
    &:hover{
      background: $brand-secondary;
      a {
        text-decoration: none;
        color: #ffffff;
      }

    }
  }
  .active > a {
    color: $brand-secondary;
    font-size: 1.2rem;
  }

}

.feedback-offer {
  @include make-col(8);
  @include media-breakpoint-down(lg){
    @include make-col(12);
    padding-bottom: 1rem !important;
  }
}

.feedback-button {
  @include make-col(4);
  @include media-breakpoint-down(lg){
    @include make-col(12);
    padding-top: 1rem !important;
  }
}
