#feedback {
  @include make-row();
}

.feed-img{
  @include make-col-ready();
  @include make-col(4);
  img{
    max-height: 200px;
    object-fit: cover;
  }
}

.feed-text{
  @include make-col-ready();
  @include make-col(8);
}

.feed {
  li {
    display: inline;
  }
  .prev, .next {
    padding: 0.5rem 1rem;
    border: 1px solid $brand-info;
    border-radius: 20px;
    a {
      color: $brand-info;
    }
    &:hover{
      background: $brand-secondary;
      a {
        text-decoration: none;
        color: #ffffff;
      }

    }
  }
  .active > a {
    color: $brand-secondary;
    font-size: 1.2rem;
  }

}
