#feedback {
  border-radius: 20px;
}

.feed-img{
  @include make-col-xl(3);
  @include make-col-lg(3);
  @include make-col-md(4);
  @include make-col-sm(4);
  @include make-col-xs(4);
  img{
    max-height: 200px;
    object-fit: cover;
  }
}

.feed-text{
  @include make-col-xl(9);
  @include make-col-lg(9);
  @include make-col-md(8);
  @include make-col-sm(8);
  @include make-col-xs(8);
}

.feed {
  li {
    display: inline;
  }
  .prev, .next {
    padding: 0.5rem 1rem;
    border: 1px solid $brand-info;
    border-radius: 20px;
    a {
      color: $brand-info;
    }
    &:hover{
      background: $brand-secondary;
      a {
        text-decoration: none;
        color: #ffffff;
      }

    }
  }
  .active > a {
    color: $brand-secondary;
    font-size: 1.2rem;
  }

}
