.footer {
  padding-top: 1rem;
  padding-bottom: 2rem;
  .nav {
    @include make-col-ready();
    @include make-col(8);
    @include make-row();
    @include media-breakpoint-down(lg){
      @include make-col-ready();
      @include make-col(12);
      @include make-row();
    }
  }
}

.footer-logo {
  @include make-col-ready();
  @include make-col(2);
}

.footer-contacts {

  @include media-breakpoint-up(lg){
    @include make-col-ready();
    @include make-col(10);
  }

  @include media-breakpoint-down(lg){
    @include make-col-ready();
    @include make-col(12);
  }

  .social {
    @include make-col-ready();
    @include make-col(12);
    @include media-breakpoint-up(md){
      @include make-col(12);
    }
  }
  @include make-row();
}

#footer-links{
  @include make-col-ready();
  @include make-col(4);
  @include media-breakpoint-down(lg){
    @include make-col-ready();
    @include make-col(6);
    text-align: center;
  }
  @include media-breakpoint-down(md){
    text-align: left;
    li {
      padding-bottom: 1rem;
    }
  }
}

#footer-contacts{
  @include make-col-ready();
  @include make-col(4);
  @include media-breakpoint-down(md){
    @include make-col-ready();
    @include make-col(12);
    text-align: center !important;
    .lead.strong {
      font-size: 2rem;
    }
  }
}

// .footer-menu {
//   @include make-col(12);
//   margin: 2em 0;

//   ul {
//     width: 100%;
//     li > a {
//       color: white;
//     }
//   }
// }
// .social-buttons {
//   @include make-col(12);
//   ul {
//     display: -webkit-box;
//     display: -moz-box;
//     display: -ms-flexbox;
//     display: -webkit-flex;
//     display: flex;
//     justify-content: space-around;
//     margin: 1rem 0;
//   }
// }
// .company {
//   @include make-col(12);
//   color: #ffffff;
// }

// .footer-logo{
//   @include make-col(2);
//   @include make-col-offset(5);
// }
