.footer {
  // padding-top: 40px;
}

.footer-menu {

  @include make-col(12);
  margin: 2em 0;
  // border-bottom: 1px solid #ffffff;

  ul {
    width: 100%;
    li > a {
      color: white;
    }
  }
}
.social-buttons {
  @include make-col(12);
  margin-bottom: 20px;
  ul {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    justify-content: space-around;
  }
}
.company {
  @include make-col(12);
}

.footer-logo{
  @include make-col(2);
  @include make-col-offset(5);
}
