.footer {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.footer-logo {
  @include make-col(2);
}
.footer-contacts {
  @include media-breakpoint-up(lg){
    @include make-col(10);
  }
  @include media-breakpoint-down(lg){
    @include make-col(12);
    .lead {
      font-size: 90%;
      .small {
        font-size: 0.8rem;
      }
    }
  }
  .social {
    i {
      color: $brand-secondary;
    }

  }
}

// .footer-menu {
//   @include make-col(12);
//   margin: 2em 0;

//   ul {
//     width: 100%;
//     li > a {
//       color: white;
//     }
//   }
// }
// .social-buttons {
//   @include make-col(12);
//   ul {
//     display: -webkit-box;
//     display: -moz-box;
//     display: -ms-flexbox;
//     display: -webkit-flex;
//     display: flex;
//     justify-content: space-around;
//     margin: 1rem 0;
//   }
// }
// .company {
//   @include make-col(12);
//   color: #ffffff;
// }

// .footer-logo{
//   @include make-col(2);
//   @include make-col-offset(5);
// }
