.form-wrapper {
  min-height: 100%;
  min-width: 100%;
  h2 {
    padding-bottom: 1em;
    margin-top: 1em;
  }
}


.form-img{
  @include media-breakpoint-up(md){
    @include make-col(4);
  }
  @include media-breakpoint-down(md){
    @include make-col(4);
    margin: auto;
  }

}

.form-container {
  @include media-breakpoint-up(md){
    @include make-col(6);
  }
  @include media-breakpoint-down(md){
    @include make-col(10);
  }
  margin: auto;
  position: relative;
}

.date-field, .time-field, .add-field, .address-field {
  @include media-breakpoint-up(sm){
    @include make-col(6);
  }
  @include media-breakpoint-down(md){
    @include make-col(12);
  }
  input[type="date"] {
    flex-direction: row;

  }
  margin-bottom: 1em;
}
