#header {
  z-index: 900;
  @include media-breakpoint-up(lg){
    margin-top: 0.5rem;
  }

  .font-size-08 {
    font-size: 0.8rem;
  }
}


.header-logo {
  @include make-col(3);
  #logo{
    position: absolute;
  }
}


.header-contacts {
  @include make-col(9);
  .social {
    font-size: 1.5em;
    min-height: 100%;
    a {
      color: $brand-secondary;
      &:hover {
        color: darken($brand-secondary, 15%)
      }
    }
    ul {
      margin: 0;
      min-height: 100%;
      .nav-link{
        padding: 0.3rem 0.3rem;
      }
    }
  }
  .order-call {
    button {
      cursor: pointer;
    }
  }
}

#menu {
  .menu-options {
    width: 100%;
    font-size: 0.9rem;
    font-weight: bold;
  }
}

#cart {
  a {
    text-decoration: none;
  }
}

// <---------------------- responsive-menu ---------------------->




.fs-80 {
  font-size: 80%;
}
