header {
}

.logo {
  position: relative;
  margin-top: 2em;
  min-width: 250px;
  max-width: 60%;
  margin:  2em auto;
  img {
    width: 100%;
  }
  .mobile{
    display: none;
  }
}

.top-menu {
  position: absolute;
  top: 3%;
  left: 5%;
  li {
    list-style-type: none;
    display: inline-block;
    padding: 0 6px;
    position: relative;
  }
}

.top-left {
  position: absolute;
  top: 10%;
  left: 5%;
  width: 20%;
}

.top {
  position: absolute;
  top: 3%;
  right: 5%;
  li {
    list-style-type: none;
    padding: 0 4px;
    display: inline-block;
    position: relative;
  }
  .fa-bars {
    display: none;
  }
}

.top-phones {
  position: absolute;
  top: 10%;
  right: 5%;
  li {
    list-style-type: none;
    padding: 0 4px;
  }
}

.social {
  font-size: 2em;
  text-align: justify;
  a {
    text-decoration: none;
    color: black;
    &:hover {
      color: red;
    }
  }
}

.responsive-menu, .responsive-menu-list {
  display: none;
}
