.main-menu {
	width: 90%;
	margin: auto;
	padding: 0.5em 0;
	border-bottom: 1px solid #D3D3D3;
	.small {
		font-size: 1.1em;
	}
	li, ul {
		margin: 0;
		padding: 0;
		list-style-type: none;
	}
}

.left-options {
	width: 60%;
	display: inline-block;
	text-align: left;
	margin: 0;
	padding: 0;
	li {
		margin-right: 1.5em;
		display: inline-block;
		position: relative;
		font-size: 1.5em; 
		ul {
			position: absolute;
			z-index: 999;
			padding: 6px 0;
			margin: 0 0 0 -1px;
			width: 250px;
			background-color: #FFFFFF;
			li {
				padding: 6px 0;
				font-size: 0.8em;
				display: block;
			}
		}
	}
}
.right-options {
	width: 39%;
	display: inline-block;
	text-align: right;
	li {
		margin-left: 1.5em;
		display: inline-block;
	}
}

.mobile-options {
	display: none;
}
