.main {
  @include media-breakpoint-up(lg){
    margin-top: 10vh;
  }

}

.flag {
  background-image: image-url('flag.png');
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  min-height: 100px;
  width: 100%;
  z-index: 10;
  @include media-breakpoint-down(lg){
    min-height: 60px;
  }
}

#first {
  padding-top: 10vh;
}

.composition{
  @include make-row();
  @include media-breakpoint-up(lg){
    @include make-col-ready();
    @include make-col(4);
  }
  @include media-breakpoint-only(md){
    @include make-col-ready();
    @include make-col(6);
  }
  @include media-breakpoint-down(sm){
    @include make-col-ready();
    @include make-col(12);
  }
  margin-bottom: 10px;
  .card {
    min-width: 100%;
    min-height: 100%;

    .line {
      position: relative;
      bottom: 11px;
    }
    .img-fluid {
      min-width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 20px 20px 0 0;
    }
    .card-image{
      width: 100%;
      height: 350px;
      overflow: hidden;
    }
    .card-block {
      padding-bottom: 0;
    }
    .card-footer {
      width: 100%;
     a {
        font-family: $font-family-sans-serif;
      }
    }
  }
  padding: 0;
}

.composition-small {
  @extend .composition;
  max-width: 100% !important;
  @include media-breakpoint-down(sm){
    .card{
      #info {
        display: none;
      }
    }
  }
  .card{
    .card-image {
      height: 200px;
    }
  }
}

#help {
  @include media-breakpoint-up(lg) {
    // @include make-col-offset(3);
  }

}

.text-secondary {
  color: darken($brand-secondary, 20%);
}

#map {
  height: 400px;
}



.btn-info {
  background: $brand-info;
  border: $brand-info;
}


.text-secondary{
  color: $brand-secondary;
}

.bg-info {
  background: $brand-info;
}

.text-info{
  color: $brand-info;
}

.bread {
  margin: 1rem 0;
  .breadcrumb {
    @include make-col-ready();
    @include make-col(11);
    @include make-col-offset(1);
    margin-bottom: 0;
    padding-bottom: 0;
    font-size: 80%;
    padding-left: 60px;
    padding-top: 0;

    .active {
      @extend .text-uppercase;
    }
    span {
      @extend .mx-2;
    }
  }
  @include media-breakpoint-down(md){
    margin-bottom: 0;
    padding: 1rem !important;
    .breadcrumb{
      @include make-col(12);
      margin-left: 0 !important;
    }
  }
}

.bg-grad{
  @include gradient-x($start-color: $brand-secondary, $end-color: $brand-info, $start-percent: 0%, $end-percent: 100%);
}

#price{
  width: 100%;
  .small{
    font-size: 0.8rem;
    line-height: 0.8rem;
  }
}

.card {
  border-radius: 20px !important;
  box-shadow: 2px 2px 5px rgba(0,0,0,.1);
  &:hover{
    border: 1px solid transparentize($brand-secondary, 0.7);
    box-shadow: 2px 2px 5px transparentize($brand-secondary, 0.9);
  }
}

.lh-1{
  line-height: 1rem;
}

.lh-2{
  line-height: 2rem;
}

#main-screen {
  margin-bottom: -16%;
}

#feeds {
  @include make-col-ready();
  @include make-col(5);
  @include media-breakpoint-down(lg){
    @include make-col(12);
  }

  border-radius: 20px;
}


#main-tags {
  .btn {
    @include media-breakpoint-down(md){
      width: 100%;
    }
  }
  @include make-row();
  @extend .text-capitalize;
  @extend .justify-content-center;
}


#tag {
  // background: image-url('birthday.png') top center scroll;
  background-size: 300px;
  .container {
    background: rgba(255,255,255,0.55);
  }
}

.gradient{
  @include gradient-x($start-color: $brand-secondary, $end-color: $brand-info, $start-percent: 0%, $end-percent: 100%);
}

#text-contacts li {
  @extend .d-flex;
  @extend .align-items-center;
  @extend .my-3;
  svg {
    @extend .text-info;
    @extend .mr-5;
  }
}

#vk_share {
  a{
    @extend .btn;
    @extend .btn-secondary;
    @extend .btn-block;
    @extend .px-0;
  }
}
