// Place all the styles related to the main controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.slider {
	padding-top:  2%;
	width: 90%;
	margin: auto;
	img {
		width: 100%;
	}
}

h2 {
	text-align: center;
}