@media screen and (max-width: 600px) {

	.main-menu {
		display: none;
	}

	header {
		position: relative;
		width: 100%;
		height: 20%;
		.logo{
			left: 15%;
			width: 60%;
			top: 20%;
			z-index: 1;
		}

		.top-phones, .top-right, .top-menu {
			display: none;
		}

		.responsive-menu {
			display: inline-block;
			position: absolute;
			top: 4%;
			right: 4%;
			font-size: 2em;
			z-index: 999;
			i {
				color: red;
			}
		}
	}

	.responsive-menu-list {
		display: none;
		position: absolute;
		width: 100%;
		height: 100%;
		background-color: #000000;
		z-index: 998;
		opacity: 0.85;
		ul {
			margin: 2em 0;
			padding: 0;
			list-style-type: none;
		}
		li {
			padding-left: 1em;
			font-size: 1.5em;
			padding-bottom: 1em;
			color: white;
			a {
				color: white;
			}
		}
		span {
			position: absolute;
			color: white;
			left: 1.5em;
			top: 1.5em;
			font-size: 1em;
			width: 50%;
		}
	}

	.item-list {
		width: 100%;
		.item {
			float: none;
			width: 90%;
			margin: 2em auto;
			border-bottom: 1px solid black;
		}
	}
}

