.modal {
  -webkit-overflow-scrolling: hidden;
  .modal-dialog {
    max-width: 90%;
    margin: 30px auto;
  }
  #call {
    max-width: 50%;
  }
}
.close {
  font-size: 2.5rem;
}
@include media-breakpoint-up(md){
  .modal-open {
    padding-right: 17px !important;
  }
}


@include media-breakpoint-only(lg) {
  .modal-open {
    padding-right: 0 !important;
  }
}
