.modal {
  -webkit-overflow-scrolling: hidden;
  z-index: 11000;
  .modal-dialog {
    min-width: 100%;
    margin: 0;
  }
  #call {
    // max-width: 50%;
  }
  .modal-title{
    width: 100%;
  }
}
.close {
  font-size: 2.5rem;
}
@include media-breakpoint-up(md){
  .modal-open {
    padding-right: 17px !important;
  }
}


@include media-breakpoint-only(lg) {
  .modal-open {
    padding-right: 0 !important;
  }
}
#form-call{
  @include media-breakpoint-down(lg){
    @inclide make-col-ready();
    @include make-col(12);
  }
  @include media-breakpoint-up(lg){
    @inclide make-col-ready();
    @include make-col(6);
  }
  margin: auto;
  #form-call-label {
    @include make-col-ready();
    @include make-col(5);
    @include media-breakpoint-down(lg){
      @include make-col(12);
    }
  }
  #form-call-input {
    @include make-col-ready();
    @include make-col(7);
    @include media-breakpoint-down(lg){
      @include make-col(12);
    }
  }
}

.modal-content, .modal-body, .modal-header, .modal-dialog{
  background-color: transparent !important;
  border: 0;
}

.modal-header{
  border: none;
}

.modal-backdrop, .modal{
  background-color: transparentize(#ffffff, 0.1);
}
