.offer {
  @include make-col-lg(12);
  @include make-col-xl(12);
  align-items: stretch;
  background: none;
}
.jumb{
  background: image-url("offer.jpg") center no-repeat;
  background-size: cover;
}

h1.offer-text {
  @include make-col-lg(6);
  @include make-col-xl(6);
  @include make-col-md(6);
  @include make-col-sm(12);
  @include make-col-xs(12);
  @include media-breakpoint-up(md){
    @include make-col-offset(2);
  }

  @include media-breakpoint-down(md){
    font-size: 2.5em;
  }
  background-color: transparentize(darken($brand-secondary, 10%), 0.3);
  color: white;
  font-weight: bold;
  font-size: 3em;
  font-family: $font-family-serif;
  border-radius: 6px;
  padding: 0.7em 0;
  span.italic {
    display: block;
    font-style: italic;
    font-size: 80%;
  }
  // span.big {
  //   display: block;
  //   font-size: 1.2em;
  // }
  p {
    margin-top: 10px;
  }


  .suboffer {
    font-size: 0.4em;
    font-weight: 500;
  }
}

.offer-details {
  @include make-col-lg(12);
  @include make-col-xl(12);
  @include make-col-md(12);
  @include make-col-sm(12);
  @include make-col-xs(12);
  span {
    // font-size: 4em;
    color: $brand-primary;
    .fa-stack > .fa-inverse {
      color: #ffffff;
    }
  }
  font-size: 1.3em;
}

.detail{
  @include make-col-lg(4);
  @include make-col-xl(4);
}

.text-secondary {
  color: $brand-secondary;
}
