.offer {
  @include make-col-lg(12);
  @include make-col-xl(12);
  margin-top: 10px;
  background: image-url('offer.jpg') center no-repeat;
  background-size: 100%;
  align-items: stretch;
}

.jumbotron > h1.offer-text {
  @include make-col-lg(5);
  @include make-col-xl(5);
  @include make-col-offset(1);
  background-color: transparentize(darken($brand-secondary, 10%), 0.1);
  color: white;
  font-variant: small-caps;
  font-weight: bold;
  font-size: 3em;
  font-family: $font-family-serif;
  border-radius: 6px;
  padding: 1em 0;
  span.italic {
    display: block;
    font-style: italic;
    font-size: 80%;
  }
  // span.big {
  //   display: block;
  //   font-size: 1.2em;
  // }
  p {
    margin-top: 10px;
  }
}

.offer-details {
  @include make-col-lg(12);
  @include make-col-xl(12);
  span {
    // font-size: 4em;
    color: $brand-primary;
    .fa-stack > .fa-inverse {
      color: #ffffff;
    }
  }
  font-size: 1.3em;
}

.detail{
  @include make-col-lg(4);
  @include make-col-xl(4);
}

.text-secondary {
  color: $brand-secondary;
}
