.offer {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  @include make-col(12);
  @include make-row();
  margin-top: 10px;
  background: image-url('offer.jpg') center no-repeat;
  background-size: 100%;
  align-items: stretch;
}

.jumbotron > h1.offer-text {
  @include make-col(5);
  @include make-col-offset(1);
  background-color: transparentize(darken($brand-secondary, 10%), 0.1);
  color: white;
  font-variant: small-caps;
  font-weight: bold;
  font-size: 3em;
  font-family: $font-family-serif;
  border-radius: 6px;
  padding: 1em 0;
  span.italic {
    display: block;
    font-style: italic;
  }
  span.big {
    display: block;
    font-size: 1.2em;
  }
  p {
    margin-top: 10px;
  }
}

.offer-details {
  @include make-col(12);
  span {
    // font-size: 4em;
    color: $brand-primary;
    .fa-stack > .fa-inverse {
      color: #ffffff;
    }
  }
  font-size: 1.3em;
}

.detail{
  @include make-col(4);
}

.text-secondary {
  color: $brand-secondary;
}
