// <---------- Header ---------->
.top-bar {
  @include make-row();
  margin-top: 10px;
  .top-bar-left {
    @include make-col(6);
    text-align: left;
  }
  .top-bar-middle {
    @include make-col(4);
    text-align: center;
  }

  .top-bar-right {
    @include make-col(2);
    text-align: right;
  }
}



.middle-bar {
  @include make-row();
  margin-top: 20px;
  .logo-shop {
    @include make-col(6);
  }
  .contacts {
    @include make-col(4);
    @include make-col-offset(2);
    font-size: 1.1em;
  }
}

.menu-bar {
  margin-top: 10px;
  @include make-row();
  .search {
    @include make-col(12);
    #menu-collapse {
      @include make-col(2);
      font-size: 2em;
    }
    form {
      @include make-col(8);
      @include make-col-offset(2);
      margin: auto;
      padding: 4px 0;
      button {
        border: 0;
        background-color: transparent;
        padding: 0;
      }
    }
  }
  .menu-options {
    @include make-row();
    @include make-col(12);
  }
}

#toggle-search-bar{
  cursor: pointer;
}

.bar-header {
  @include make-col(12);
  #close-bar {
    @include make-col(2);
    @include make-col-offset(10);
    font-size: 1.4em;
    text-align: right;
    cursor: pointer;
    padding: 0;
  }
}


#menu-collapse {
  cursor: pointer;
}


// <------------ Main ----------->

.info-header {
  @include make-col(12);
  @include make-row();
  .search-header {
    @include make-col(2);
    margin: 10px 0;
  }
  .main-content-header {
    @include make-col(10)
  }
}
.search-bar {
  @include make-col(2);
  @include make-col(12);
  height: 100%;
  position: absolute;
  display: none;
  background-color: #ffffff;
  z-index: 980;
  input[type="checkbox"] {
    display: none;
  }
  input[type="checkbox"] ~ label >  span {
    display: table-cell;
    vertical-align: middle;
  }

  input[type="checkbox"] + label {
    padding: 0;
    display: table;
  }
  input[type="checkbox"] + label {
    font-family: FontAwesome;
    display: inline-block;
    letter-spacing: 10px;
    font-size: 2em;
    color: $brand-secondary;
  }
  input[type="checkbox"] + label:before {
    content: '\f204';
  }

  input[type="checkbox"]:checked + label:before {
    content: '\f205';
    color: darken($brand-secondary, 10);
  }

  ul > li {
    color: $brand-primary;
    font-weight: 700;
    ul#colors {
      padding: 4px;
      margin: auto;
      li {
        width: 25px;
        height: 25px;
        border-radius: 4px;
        border: 1px solid #000;
        cursor: pointer;
      }
    }
    .form-group {
      width: 25%;
      display: inline-block;
      .form-control {
        width: 100%;
      }
    }
  }



// <--------- colors picker ----------->
.black{
  background-color: #000000;
}
.white{
  background-color: #FFFFFF;
}
.red{
  background-color: #FF0000;
}
.orange{
  background-color: #FF4500;
}
.yellow{
  background-color: #FFD700;
}
.green{
  background-color: #228B22;
}
.blue{
  background-color: #00BFFF;
}
.dark-blue{
  background-color: #00008B;
}
.violet{
  background-color: #9400D3;
}
.fuchia{
  background-color: #FF1493;
}
.pink{
  background-color: #FFC0CB;
}
.brown{
  background-color: #A0522D;
}
.grey{
  background-color: #808080;
}
.golden{
  background-color: #DAA520;
}
.silver{
  background-color: #C0C0C0;
}

}
.main-content {
  @include make-col(12);
  transition: 800ms;
}

.search-bar.toggled + .main-content {
  @include make-col(12);
  transition: 500ms;
}





/* Контейнер слайдера */
.slider {
  width: 90%;
  margin: 10px auto;
}
.ui-slider {
  position: relative;
}
/* Ползунок */
.ui-slider .ui-slider-handle {
  position: absolute;
  z-index: 2;
  width: 16px;   /* Задаем нужную ширину */
  height: 16px;  /* и высоту */
  background: $brand-primary no-repeat; /* картинка изображающая ползунок. Или можно залить цветом, задать бордюр и скругления */
  cursor: pointer
}
.ui-slider .ui-slider-range {
  position: absolute;
  z-index: 1;
  font-size: .7em;
  display: block;
  border: 0;
  overflow: hidden;
}
/* горизонтальный слайдер (сама полоса по которой бегает ползунок) */
.ui-slider-horizontal {
   height: 8px; /* задаем высоту согласно дизайна */
}
/* позиционируем ползунки */
.ui-slider-horizontal .ui-slider-handle {
  top: -5px;
  margin-left: -6px;
}
.ui-slider-horizontal .ui-slider-range {
  top: 0;
  height: 100%;
}
.ui-slider-horizontal .ui-slider-range-min {
  left: 0;
}
.ui-slider-horizontal .ui-slider-range-max {
  right: 0;
}
/* оформление полосы по которой ходит ползунок */
.ui-widget-content {
  border: 1px solid #D4D4D4;
  background: lighten($brand-secondary, 10);
}
/* оформление активного участка (между двумя ползунками) */
.ui-widget-header {
  border: 1px solid darken($brand-secondary, 10);
  background: #f00;
}
/* скругление для полосы слайдера */
.ui-corner-all {
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
}




// <--------------------- main --------------------------->
.thumbnail > .row#items {
  display: -webkit-flexbox;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.product {
  @include make-col(6);
  .thumbnail{
      min-height: 110px;
    }
  label {
    font-size: 12px;
  }

  .item-img {
    @include make-col(4);
    padding-right: 0;
  }
  .item-info {
    @include make-col(8);
    .item-name {
      @include make-col(8);
      font-size: 1.2em;
    }
    .item-vendor {
      @include make-col(4);
    }
    .item-to-cart {
      @include make-col(12);
      // @include make-xs-column(10);
      // @include make-xs-column-offset(1);
      .input-group{
        @include make-col(12);
        .input-group-addon {
          padding: 4px 6px;
        }
      }
      .item-size, .item-size-label {
        @include make-col(3);
        padding-right: 0;
        select {
          padding: 0;
        }
      }
      .item-price, .item-price-label {
        @include make-col(5);
      }
      .item-count, .item-count-label {
        @include make-col(4);
      }
    }
  }
  .cart-button {
    @include make-col(4);
    @include make-col-offset(8);
    margin: 0.5em 0;
  }
}


