.sidebar-sticky {
  padding-right: 15px !important;
  padding-left: 15px !important;
  padding-top: 35px;
  @include media-breakpoint-up(lg){
    padding-top: 1rem;
    position: -webkit-sticky;
    position: sticky;
    height: calc(100vh + 162px);
    top: 0;
    overflow-x: hidden;
    overflow-y: auto;
    //box-shadow: inset -10px 0 25px -5px rgba(0,0,0,0.3);
    background: white;
    border-right: 1px solid $brand-info;
    z-index: 1;

  }

  .navbar-nav {
    background: $light;

    @include media-breakpoint-up(lg){
      display: block !important;
      background: none;
      margin-top: 1rem;
    }
    .small.nav-link {
      position: relative;
      color: transparentize($dark, 0.2);
      padding-left: calc(1rem + 15px);
      &:before {
        content: '';
        position: absolute;
        font-size: 1rem;
        left: 0.5rem;
        display: inline-block;
        height: 5px;
        width: 5px;
      }
      &:hover{
        color: $light-pink;
        &:before {
          content: '';
          position: absolute;
          left: 0.5rem;
          height: 5px;
          width: 5px;
          top: 44%;
          background: $light-pink;
          border-radius: 50%;
        }
      }
    }
  }
  .h5 {
    //text-transform: uppercase;
    font-size: 1rem;
    @extend .d-flex;
    @extend .align-items-center;
    svg {
      margin-right: 0.5rem;
      border: 1px solid $lavander;
      padding: .25rem;
      width: 1.5rem;
      height: 1.5rem;
      //background: $lavander;
      border-radius: .25rem;
    }
  }
  .h5.active {
    margin-bottom: 0;
    padding-bottom: 0;
    color: $lavander !important;
  }
  .small.active {
    color: $light-pink !important;
    &:before {
      content: '';
      position: absolute;
      left: 0.5rem;
      height: 5px;
      width: 5px;
      top: 44%;
      background: $light-pink;
      border-radius: 50%;
    }
  }
  .sidebar-heading {
    position: relative;
    span {
      font-size: 80%;
      font-weight: 300;
      position: relative;
      text-transform: uppercase;
    }
  }
}