
// Colors
 $brand-primary: #000000;
 // #68c4af;
 $brand-secondary: #ff4ba9;
 $brand-info: #9555bd;
 // Dropdowns
 $dropdown-link-color: $brand-secondary;
 // Navs
 $nav-link-hover-bg: darken($brand-secondary, 10%);
 $nav-pills-active-link-hover-color: #ffffff;
// Grid
// Button
$btn-info-bg: $brand-secondary;
$input-border-focus: $brand-secondary;
$headings-color: darken($brand-primary, 10%);
// Fonts
$font-family-serif: 'Roboto Slab', serif;
$font-family-sans-serif: 'Roboto', sans-serif;
$font-family-base: $font-family-serif;



@import 'bootstrap/variables';
@import 'bootstrap/mixins';




@mixin make-col-xs( $cols ) {
  @include make-col-ready();
  @include media-breakpoint-only(xs) {
    @include make-col($cols);
  }
}

@mixin make-col-sm( $cols ) {
  @include make-col-ready();
  @include media-breakpoint-only(sm) {
    @include make-col($cols);
  }
}

@mixin make-col-md( $cols ) {
  @include make-col-ready();
  @include media-breakpoint-only(md) {
    @include make-col($cols);
  }
}

@mixin make-col-lg( $cols ) {
  @include make-col-ready();
  @include media-breakpoint-only(lg) {
    @include make-col($cols);
  }
}

@mixin make-col-xl( $cols ) {
  @include make-col-ready();
  @include media-breakpoint-only(xl) {
    @include make-col($cols);
  }
}


@include media-breakpoint-down(md) {
  html {
    font-size: 0.9rem;
  }
  .modal-dialog {
    min-width: 95% !important;
  }
  .modal-open {
    padding-right: 0px !important;
  }
}

@include media-breakpoint-down(sm) {
  html {
    font-size: 0.8rem;
  }
}

@include media-breakpoint-down(xs) {
  html {
    font-size: 0.7rem;
  }
}
