.responsive-menu
  %i.fa.fa-bars

.logo
  = link_to image_tag('Обложка.jpg'), admin_root_path
.top-menu
  %li= link_to 'Магазин', shop_root_path
  %li= link_to 'Доставка', delivery_root_path
.top-right
  
.top-phones
  


