.left-menu.bg-brand.col-md-2.toggled
  %ul.nav.nav-pills.nav-stacked
    .nav-header
      123
    %li
      = link_to admin_users_path do
        %i.fa.fa-user
        %span Пользователи
    %li
      = link_to admin_items_path do
        %i.fa.fa-user
        %span Товары
    %li
      = link_to admin_compositions_path do
        %i.fa.fa-user
        %span Композиции
    %li
      = link_to admin_orders_path do
        %i.fa.fa-user
        %span Заказы

