.top-menu.bg-brand
  .col-12{style: 'padding-right: 0;'}
    %ul.nav.nav-pills
      %li.nav-item
        = link_to '#', id: 'admin-collapse', class: 'nav-link' do
          %i.fa.fa-bars{style: 'aria-hidden="true"'}
      %li.nav-item
        = link_to 'Доставка', root_url(subdomain: false), class: 'nav-link'
      %li.nav-item
        = link_to 'Магазин', root_url(subdomain: 'shop'), class: 'nav-link'


