.top-menu.bg-brand
  .col-md-2{style: 'padding-right: 0;'}
    %ul.nav.nav-pills
      %li
        = link_to '#', id: 'admin-collapse' do
          %i.fa.fa-bars{style: 'aria-hidden="true"'}
  .col-md-6
  .col-md-4
    %ul.nav.nav-pills
      %li
        = link_to 'Доставка', delivery_root_path
      %li
        = link_to 'Магазин', shop_root_path
