.container-fluid.bg-grey.footer
  .container
    .row
      .footer-logo.d-none.d-lg-block
        #logo
          = link_to root_path do
            = image_tag 'logo-footer.png', class: 'img-fluid'
      .footer-contacts
        .container
          .row
            .col-6
              .lead
                Мы в социальных сетях:
              .social.mt-2
                %ul.list-unstyled.list-inline
                  %li.list-inline-item.mr-4
                    =link_to 'https://www.instagram.com/bigairballoon_izh/', target: :_blank do
                      %i.fa.fa-instagram.fa-2x{"aria-hidden":  "true"}
                  %li.list-inline-item.mr-4
                    =link_to 'https://www.facebook.com/bigairballoons/', target: :_blank do
                      %i.fa.fa-facebook.fa-2x{"aria-hidden": "true"}
                  %li.list-inline-item
                    =link_to 'https://vk.com/bigairballoon_izh', target: :_blank do
                      %i.fa.fa-vk.fa-2x{"aria-hidden": "true"}
            .col-6
              .lead
                Позвоните нам!
              .lead.strong
                +7 (912) 453-25-98
                .small
                  WhatsApp | Viber | Telegram



