.container-fluide
  .row
    .col-md-12.bg-brand
      Check your discount
  .row
    .container
      .col-md-6
        %ul.text-left.list-inline.list-unstyled
          %li Контакты
          %li Доставка
          %li= link_to 'Админка', admin_root_path
      .col-md-6
        %ul.text-right.list-inline.list-unstyled
          - if current_user
            %li Выйти
          - else
            %li= link_to 'Войти', login_path
  .row
    .col-md-2
    .col-md-8.col-xs-12
      = link_to delivery_root_path do
        = image_tag 'Обложка.jpg', class: 'img-responsive'
    .col-md-2


