.row
  .offer.jumbotron.hidden-xs
    %h1.offer-text.text-center
      %span.big
        Самые красивые
      %span.italic
        \~воздушные шары~
      %span.big
        с доставкой!
      %p
        Нет шариков - нет праздника!
.row.border-bot
  .offer-details.hidden-xs
    .detail.text-center
      %span.fa-stack.fa-3x
        %i.fa.fa-circle.fa-stack-2x
        %i.fa.fa-motorcycle.fa-stack-1x.fa-inverse
      %h3
        Бесплатная доставка
        %br
        %small
          Доставляем бесплатно при заказе от 1000 руб. в пределах Ижевска
          с 8:00 до 21:00
    .detail.text-center
      %span.fa-stack.fa-3x
        %i.fa.fa-circle.fa-stack-2x
        %i.fa.fa-birthday-cake.fa-stack-1x.fa-inverse
      %h3
        Бесплатное оформление
        %br
        %small
          Приедем и оформим ваш праздник самыми красивыми шариками!
    .detail.text-center
      %span.fa-stack.fa-3x
        %i.fa.fa-circle.fa-stack-2x
        %i.fa.fa-thumbs-up.fa-stack-1x.fa-inverse
      %h3
        Качественные материалы
        %br
        %small
          Мы используем только качественные шары от крупнейших мировых производителей.


