.row.jumb
  .offer.jumbotron.jumbotron-fluid
    %h1.offer-text.text-center.col-6.px-4
      %span.italic
        Доставка самых красивых
      %span.italic
        \~воздушных шаров~
      %span.small
        круглосуточно, без выходных
      .mt-4
        = button_tag 'Оставить заявку', class: 'btn btn-success btn-lg btn-block', data:{ toggle: 'modal', target: '#call-modal'}
      .suboffer
        Оставьте заявку, и мы бесплатно подберем варианты оформления под ваш праздник и бюджет
.row.my-4
  .offer-details
    .row.border-bot
      .detail.text-center
        %span.fa-stack.fa-3x
          %i.fa.fa-circle.fa-stack-2x
          %i.fa.fa-motorcycle.fa-stack-1x.fa-inverse
        %h4
          Бесплатная доставка
          %br
          %small.text-muted
            Доставляем бесплатно при заказе от 1000 руб. в пределах Ижевска
            с 8:00 до 21:00
      .detail.text-center
        %span.fa-stack.fa-3x
          %i.fa.fa-circle.fa-stack-2x
          %i.fa.fa-birthday-cake.fa-stack-1x.fa-inverse
        %h4
          Бесплатное оформление
          %br
          %small.text-muted
            Оформим в любом месте и в любое время совершенно бесплатно!
      .detail.text-center
        %span.fa-stack.fa-3x
          %i.fa.fa-circle.fa-stack-2x
          %i.fa.fa-thumbs-up.fa-stack-1x.fa-inverse
        %h4
          Качественные материалы
          %br
          %small.text-muted
            Мы гарантируем минимум 3 дня полета проклеенных шаров!


