.row
  .offer.jumbotron
    %h1.offer-text.text-center
      %span.big
        Самые красивые
      %span.italic
        \~воздушные шары~
      %span.big
        с доставкой!
      %br
      %small
        Нет шариков - нет праздника!
.row
  .offer-details
    .row.border-bot
      .detail.text-center
        %span.fa-stack.fa-3x
          %i.fa.fa-circle.fa-stack-2x
          %i.fa.fa-motorcycle.fa-stack-1x.fa-inverse
        %h4
          Бесплатная доставка
          %br
          %small.text-muted
            Доставляем бесплатно при заказе от 1000 руб. в пределах Ижевска
            с 8:00 до 21:00
      .detail.text-center
        %span.fa-stack.fa-3x
          %i.fa.fa-circle.fa-stack-2x
          %i.fa.fa-birthday-cake.fa-stack-1x.fa-inverse
        %h4
          Бесплатное оформление
          %br
          %small.text-muted
            Приедем и оформим ваш праздник самыми красивыми шариками!
      .detail.text-center
        %span.fa-stack.fa-3x
          %i.fa.fa-circle.fa-stack-2x
          %i.fa.fa-thumbs-up.fa-stack-1x.fa-inverse
        %h4
          Качественные материалы
          %br
          %small.text-muted
            Мы используем только качественные шары от крупнейших мировых производителей.


