.row.jumb
  .offer.jumbotron.jumbotron-fluid.mb-0
    .container
      %h1.offer-text.text-center.col-6.px-4
        %span.italic
          Доставка самых красивых
        %span.italic
          \~воздушных шаров~
        %span.small
          круглосуточно, без выходных
        .mt-4
          = button_tag 'Оставить заявку', class: 'btn btn-success btn-lg btn-block', data:{ toggle: 'modal', target: '#call-modal'}
        .suboffer
          Оставьте заявку, и мы бесплатно подберем варианты оформления под ваш праздник и бюджет
  .offer-details.px-2
    .row.no-gutters
      .detail.text-center
        %span.fa-stack.fa-3x
          %i.fa.fa-circle.fa-stack-2x
          %i.fa.fa-motorcycle.fa-stack-1x.fa-inverse
        %h4.text-white
          Бесплатная доставка
          %br
          %small.text-white
            Доставляем бесплатно при заказе от 1000 руб. в пределах Ижевска
            с 8:00 до 21:00
      .detail.text-center
        %span.fa-stack.fa-3x
          %i.fa.fa-circle.fa-stack-2x
          %i.fa.fa-birthday-cake.fa-stack-1x.fa-inverse
        %h4.text-white
          Бесплатное оформление
          %br
          %small.text-white
            Оформим в любом месте и в любое время совершенно бесплатно!
      .detail.text-center
        %span.fa-stack.fa-3x
          %i.fa.fa-circle.fa-stack-2x
          %i.fa.fa-thumbs-up.fa-stack-1x.fa-inverse
        %h4.text-white
          Качественные материалы
          %br
          %small.text-white
            Мы гарантируем минимум 3 дня полета проклеенных шаров!


