.container-fluid#offer
  .container.offer-text.p-0
    .row
      %h1.offer.font-weight-bold
        = image_tag 'hat.png'
        .display-1.strong.text-uppercase
          Авторское
        оформление праздников воздушными шарами
    .row.mt-3
      .offer-details
        %ul.list-unstyled.list-inline.text-white.d-flex.align-items-center
          %li.list-inline-item.d-flex.align-items-center
            %i.fa.fa-check-circle-o.fa-3x.mr-2
            %span.align-self-center
              Уникальный дизайн
          %li.list-inline-item.d-flex.align-items-center
            %i.fa.fa-check-circle-o.fa-3x.mr-2
            %span.align-self-center
              Любой бюджет
          %li.list-inline-item.d-flex.align-items-center
            %i.fa.fa-check-circle-o.fa-3x.mr-2
            %span.align-self-center
              Бесплатная доставка
    .row#button
      .col-12.my-4
        = button_tag 'Оставить заявку', class: 'btn btn-secondary btn-lg strong', data:{ toggle: 'modal', target: '#call-modal'}
    .row.hidden-lg-down
      .col-6.text-white.detail.text-justify
        У нас не самые низкие цены в городе, и мы это признаем. Но мы принципиально не работаем с некачественными материалами и по принципу «и так сойдет». Поэтому, если вам не важно, где, как и из чего сделаны шарики и какие воспоминания останутся у вас после праздника, то вам не стоит обращаться к Шариковой фее.


