.container-fluid#offer
  .container.offer-text.p-0
    .row
      %h1.offer.font-weight-bold
        = image_tag 'hat.png', class: 'hat'
        .display-1.strong.text-uppercase
          = image_tag 'word.png', class: 'img-fluid'
          Авторское
        оформление праздников воздушными шарами
    .row
      .offer-details
        %ul.list-unstyled.list-inline.text-white
          .row.align-items-center
            %li.list-inline-item.m-0
              .row.align-items-center
                .col-3.pr-0
                  %i.fa.fa-check-circle-o.fa-3x
                .lead.col-9.pl-1
                  Уникальный дизайн
            %li.list-inline-item.m-0
              .row.align-items-center
                .col-3.pr-0
                  %i.fa.fa-check-circle-o.fa-3x
                .lead.col-9.pl-1
                  Любой бюджет
            %li.list-inline-item.m-0
              .row.align-items-center
                .col-3.pr-0
                  %i.fa.fa-check-circle-o.fa-3x.d-inline
                .lead.col-9.pl-1
                  Бесплатная доставка
    .row#button
      .col-12.my-4
        = button_tag 'Оставить заявку', class: 'btn btn-secondary btn-lg strong', data:{ toggle: 'modal', target: '#call-modal'}
    .row.hidden-lg-down
      .col-6.text-white.detail.text-justify
        У нас не самые низкие цены в городе, и мы это признаем. Но мы принципиально не работаем с некачественными материалами и по принципу «и так сойдет». Поэтому, если вам не важно, где, как и из чего сделаны шарики и какие воспоминания останутся у вас после праздника, то вам не стоит обращаться к Шариковой фее.


