
%h1.text-center Клиенты
%table.table.table-responsive.table-striped
  %thead
    %th
      Имя
    %th
      Телефон
  - @users.each do |user|
    %tr
      %td
        = link_to user.first_name, admin_user_path(user)
      %td
        = user.phone

= link_to 'Добавить клиента', new_admin_user_path, class: 'btn btn-info'