.container-fluid.p-0
  #offer-wrapper
    .jumbotron.jumbotron-fluid#offer.d-flex.align-items-center.jumb-business.mb-0
      .container
        .row
          .business-offer.text-center
            %h1.text-center.display-4.font-weight-bold
              Начните свой шариковый бизнес
              %br
              без вложений
            %em.lead.text-center
              Доход от 5000 рублей в месяц. Минимум усилий и потраченного времени. Не выходя из дома.
            %hr.my-4
            %p.text-center.hidden-md-down
              Оставьте заявку, мы перезвоним и проконсультируем вас по всем вопросам!
            .lead.text-center.hidden-md-down
              = button_tag 'Оставить заявку', class: 'btn btn-info btn-lg', data:{ toggle: 'modal', target: '#call-modal'}
        .row.justify-content-center.mt-4
          %h2.text-white Узнайте больше
        .row.justify-content-center
          %i.fa.fa-chevron-down#more
.container-fluid
  .row.bg-info.text-white
    .col-12
      %h2.text-center.display-4.text-white.my-5
        Начните уже сегодня
        .small
          Все очень просто
    .col-12.mb-5
      .row.align-items-center.text-center.justify-content-around.mb-3
        .col-lg-3
          %h3.text-teal
            Получаете заказ
            .small.text-white
              Вы придумываете уникальное оформление для клиента
        .col-lg-1
          %i.fa.fa-chevron-circle-right.fa-5x
        .col-lg-3
          %h3.text-teal
            Отправляете нам
            .small.text-white
              Готовим все материалы, если чего-то нет в наличии - докупаем.
        .col-lg-1
          %i.fa.fa-chevron-circle-right.fa-5x
        .col-lg-3
          %h3.text-teal
            Мы привозим
            .small.text-white
              Доставляем по Ижевску и оформляем по вашему эскизу
    .line.w-100{style:'position: relative;'}
.container-fluid
  %h2.text-center.my-5
    У нас уже все готово
  .row.align-items-center.my-3
    .col-2.text-center
      %i.fa.fa-chevron-circle-right.fa-5x
    .col-10
      %h3.text-left
        Гелий в наличии
        .small
          Мы держим минимум 4 полных баллона на запас. Вам не нужно мучаться с тяжелыми баллонам и срочно искать, если он внезапно закончился.
  .row.align-items-center.my-3
    .col-2.text-center
      %i.fa.fa-chevron-circle-right.fa-5x
    .col-10
      %h3.text-left
        Большой склад
        .small
          У нас большой запас шаров на все случаи жизни.
          Мы плотно сортрудничаем с оптовыми поставщиками, поэтому у нас минимальная цена. Вы сможете предлагать своим клиентам конкурентную цену и не держать свой склад.
  .row.align-items-center.my-3
    .col-2.text-center
      %i.fa.fa-chevron-circle-right.fa-5x
    .col-10
      %h3.text-left
        Свои курьеры
        .small
          Наши курьеры-оформители крулосуточно готовы отвезти ваш заказ в любую точку Ижевска и Удмуртии точно в назначенное время. Мы знаем, как и в чем правильно транспортировать шары.
  .row.align-items-center.my-3
    .col-2.text-center
      %i.fa.fa-chevron-circle-right.fa-5x
    .col-10
      %h3.text-left
        Большой опыт
        .small
          Мы гарантируем, что сможем оформить так, что клиенту обязательно понравиться и он обратиться к вам снова.
  .row.align-items-center.my-3
    .col-2.text-center
      %i.fa.fa-chevron-circle-right.fa-5x
    .col-10
      %h3.text-left
        Портфолио
        .small
          Если вы только начинаете, то можете работать по нашему портфолио. Там только наши работы, которые мы сможем на 100% повторить!
  .row.align-items-center.my-3
    .col-2.text-center
      %i.fa.fa-chevron-circle-right.fa-5x
    .col-10
      %h3.text-left
        Обучение
        .small
          Расскажем, как и где искать клиентов. Как сделать так, чтобы они снова заказали у вас.
  .row.mb-3
    %h4.text-white.text-center.bg-dark.w-100.py-4.mb-0
      Вы занимаетесь только творчеством!
      %br
      Всю неинтересную работу мы берем на себя.
  .row.align-items-center.bg-info.pb-5
    .line-inverse.w-100{style:'position: relative;'}
    %h2.text-center.w-100.mb-5.text-white.mt-5
      Сколько можно заработать
    .col-2.text-center.text-white.d-none.d-lg-block.display-2
      %i.fa.fa-calculator.fa-2x
    .col-lg-10.col-sm-12
      .row.h3.text-white.my-5
        .col-6
          У вас заказали:
        .col-6
          100 шаров
      .row.h3.text-white.my-5
        .col-6
          Цена шара:
        .col-6
          60 рублей
      .row.h3.text-white.my-5
        .col-6
          Выручка:
        .col-6
          6000 рублей
      .row.h3.text-white.my-5
        .col-6
          Себестоимость шара + наша комиссия (30%):
        .col-6
          32.5 рубля
      .line-inverse
      .row.h3.text-white.my-5
        .col-6.text-white
          Ваша прибыль:
        .col-6.text-white
          2750 рублей

    .col-12
      .lead.text-center.text-white.mb-3
        Оставьте заявку и мы расскажем, как начать уже сегодня!
      .lead.text-center
        = button_tag 'Оставить заявку', class: 'btn btn-teal btn-lg', data:{ toggle: 'modal', target: '#call-modal'}



= render 'delivery/layouts/call'
